section {
    &.contribute {
        text-align: center;

        h1 {
            color: #333;
        }

        .img {
            margin: 20px auto;
            width: 600px;
            height: 400px;
            @extend .cover;
        }

        .bt {
            margin: 30px 0;
        }
    }
}