section {
    &.first {
        min-height: 540px;
        color: #FFF;
        background-color: #303030;
        height: 100vh;
        @extend .cover;

        .toplayer {
            padding-top: 100px;
        }

        .search {
            position: relative;
            margin-top: 40px;
            display: inline-block;
        }

        p {
            margin: 30px 0;
        }
    }

    &.recommendations {
        padding: 50px 0;
        color: #FFF;
        @extend .cover;

        h3 {
            color: #FFF;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
            // font-size: 1.1em;
            // line-height: 1.2;
        }
    }

    &.contact {
        padding: 50px 0;
        background-color: #DDD;
        text-align: center;
    }
}
