# use glob syntax
syntax: glob

*.elc
*.pyc
*~
*.db
.ropeproject

# Emacs
eproject.cfg

# Temporary files (vim backups)
*.swp

# Log files:
*.log

# Vagrant:
.vagrant/

# Virtualenv
venv
build

# node files
node_modules
src/web/static/lib/npm_components


.coverage
documentation/_build/
src/conf/conf.cfg
src/web/public/

# pycharm
.idea/
conf/conf.cfg

# generated asset css and js files
src/web/static/assets/
src/web/static/.webassets-cache/


#data
data/shelters/documents/
src/web/static/documents/
data/shelters/pictures/
src/web/static/pictures/
data/pictures_backup/
