# use glob syntax
syntax: glob

*.elc
*.pyc
*~
*.db

# Emacs
eproject.cfg

# Temporary files (vim backups)
*.swp

# Log files:
*.log

# Vagrant:
.vagrant/

# Virtualenv
venv
build

# bower
src/web/static/lib/*
!src/web/static/lib/leaflet
!src/web/static/lib/dc
!src/web/static/lib/file-saver


# node files
node_modules


.coverage
documentation/_build/
src/conf/conf.cfg
src/web/public/
