psycopg2==2.6.2
SQLAlchemy==1.0.15
alembic==0.8.7
Flask==0.11.1
Flask-SQLAlchemy==2.1
Flask-Restless==0.17.0
Flask-Login==0.3.2
Flask-WTF==0.12
Flask-Script==2.0.5
Flask-Admin==1.4.2
Flask-Principal==0.4.0
Flask-Babel==0.11.1
Flask-Migrate==2.0.0
