body {
    // font-family: sans-serif;
    font-family: "Lato";
    // font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

a {
    text-decoration: none !important;
    color: #333;

    &:active {
        text-decoration: none !important;
        color: #333;
    }
    &:hover {
        text-decoration: none !important;
        color: $red;
    }
}

a + a {
    margin-left: 10px;
}

p {
    line-height: 1.2;
}

main {
    h1 {
        font-size: 3.7em;
        color: #FFF;
        margin: 0px 0 20px 0;
        font-weight: bold;
        // font-weight: 100;
    }

    h2 {
        font-size: 1.4em;
        color: #FFF;
        line-height: 1.5;
        color: rgba(255,255,255,0.9);

    }

    h3 {
        color: $red;
        text-align: center;
        font-size: 1.8em;
        margin-bottom: 40px;
        font-weight: 700;
    }

    h4 {
        font-size: 1.2em;
        margin: 20px 0;
        font-weight: bold;
    }

    h5 {
        font-size: 1.2em;
        color: #666;//rgba(0,0,0,0.5);
        // font-weight: bold;
        margin-bottom: 20px;
    }
}

section {
    position: relative;
    min-height: 100px;
    padding: 30px 0;

    &.background {
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 1;
        }
        .toplayer {
            position: relative;
            z-index: 2;
            max-width: 1000px;
            margin: 0 auto;
            text-align: center;
        }
    }
}

footer {
    min-height: 50px;
    background-color: #333;
    color: #EEE;
    text-align: center;
    padding: 30px 0;
}

