<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Shelter Database</title>
        <style type="text/css">
            table.item {
                padding: 2;
                border: 0px solid black;
            }
            h2 {
                page-break-before: always
            }
            img {
                border: 0;
                width: 50%;

            }
            @page {
                size: A4;
            }
        </style>
    </head>
    <body>
        <h1>{{ shelter.get_values_of_attribute(attribute_name="Name of shelter")[0].name }}</i></h1>
        <p>Responsible: {{ shelter.responsible.name }} ( {{ shelter.responsible.email }} )</p>
        <p>Created at: {{ shelter.created_at | datetime }}</p>
        <p>Updated at: {{ shelter.updated_at | datetime }}</p>
        <p>Commercial: {% if shelter.is_commercial %}Yes{% else %}No{% endif %}</p>
        <hr />
        {% for category in categories_list %}
            <h2>{{ category | translate }}</h2>
            {% for property  in categories[category]  %}
                <p><b>{{ property.attribute.name | translate }}</b>&nbsp;

                    {% if property.attribute.type == 'yes / no' %}
                        {% if property.values[0].name in ("1","on") %}Yes{% else %}No{% endif %}
                    {% else %}
                        {% for value in property.values[:-1] %}
                            {{ value.name | translate }},&nbsp;
                        {% endfor %}
                        {{ property.values[-1].name | translate }}
                    {% endif %}
                </p>
            {% endfor %}
            {% if pictures[category] | length != 0 %}
                <h3>Related pictures</h3>
                {% for picture in pictures[category] %}
                    <img src="{{ shelter_id }}/{{ picture.file_name }}" />
                {% endfor %}
            {% endif %}
        {% endfor %}
    </body>
</html>
