<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Shelter Database</title>
        <style type="text/css">
            table.item {
                padding:2;
                border: 0px solid black;
            }
            img {
                border:0;
            }
            @page {
                size: A4;
            }
        </style>
    </head>
    <body>
        <h1>{{ shelter.get_values_of_attribute(attribute_name="Name of shelter")[0].name }}</i></h1>
        <p>Responsible: {{ shelter.responsible.name }} ( {{ shelter.responsible.email }} )</p>
        <p>Date: {{ shelter.created_at | datetime }}</p>
        <hr />
        {% for category in categories_list %}
            <h2>{{ category }}</h2>
            {% for property  in categories[category]  %}
                <p><b>{{ property.attribute.name | translate }}</b></p>
                <p>
                    {% if property.attribute.type == 'yes / no' %}
                        {% if property.values[0].name in ("1","on") %}Yes{% else %}No{% endif %}
                    {% else %}
                        {% for value in property.values[:-1] %}
                            {{ value.name | translate }},&nbsp;
                        {% endfor %}
                        {{ property.values[-1].name | translate }}
                    {% endif %}
                </p>
            {% endfor %}
        {% endfor %}
    </body>
</html>
