<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Shelter Database</title>
        <style type="text/css">
            table.item {
                padding:2;
                border: 0px solid black;
            }
            img {
                border:0;
            }
            @page {
                size: A4;
            }
        </style>
    </head>
    <body>
        {% for category in categories_list %}
            <h4>{{ category }}</h4>
            {% for property  in categories[category]  %}
                <p><b {% if property.attribute.pictures.count() != 0 %}style="border-bottom: 1px dotted #000000; cursor:pointer;" attrId="{{ property.attribute.id }}" class="attribute-multimedia-asset"{% endif %}>{{ property.attribute.name | translate }}</b></p>
                <p>
                    {% if property.attribute.type == 'yes / no' %}
                        {% if property.values[0].name in ("1","on") %}Yes{% else %}No{% endif %}
                    {% else %}
                        {% for value in property.values[:-1] %}
                            {{ value.name | translate }},&nbsp;
                        {% endfor %}
                        {{ property.values[-1].name | translate }}
                    {% endif %}
                </p>
            {% endfor %}
        {% endfor %}
    </body>
</html>
