{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>{{ category.name }}</h1>
        <form action="{{ url_for('login') }}" method="POST" role="form">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.name(placeholder="Name of the category") }}
                {% for message in form.name.errors %}
                    <div><b>{{ message }}</b></div>
                {% endfor %}
            </div>
            {{ form.submit(class_="clickButton") }}
        </form>
    <h1>Attributes</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Attribute name</th>
            </tr>
        </thead>
        <body>
        {% for attribute in category.attributes %}
            <tr>
                <td><b><a href="{{ url_for('administration.attributes', category_id=attribute.category_id, attribute_id=attribute.id) }}">{{ attribute.name }}</a></b></td>
            </tr>
        {% endfor  %}
    </tbody>
</table>
</div>
{% endblock %}

{% block defer %}
	{{ super() }}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
{% endblock %}
