{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="well">
            <p>
                Number of <a href="{{ url_for('administration.shelters') }}">shelters</a>: {{ nb_shelters }}
                {% if nb_unpublished_shelters != 0 %}
                    <br />
                    &nbsp;&nbsp;Not published shelters: {{ nb_unpublished_shelters }}
                {% endif %}
                {% if nb_commercial_shelters != 0 %}
                    <br />
                    &nbsp;&nbsp;Commercial shelters: {{ nb_commercial_shelters }}
                {% endif %}
            </p>
            <p>Number of <a href="{{ url_for('administration.users') }}">users</a>: {{ nb_users }}</p>
    </div>

    <div class="well">
        <h2>Import shelters</h2>
		<p>Upload a csv file, by using this <a href='{{ url_for("static", filename="data/structure.csv") }}' target="_blank">Structure</a>. Please see an example import file <a href='{{ url_for("static", filename="data/example.csv") }}' target="_blank">here</a>.</p>
		<p>NOTE: each row should have a unique ID in the first column. The first two letters are for the country, then add a 3 digit code from 001 counting up (e.g. HT0001)<p>
		<p>The shelter photos will need to be uploaded in a batch by the administrator. You will need to create subfolders with the ID of each shelter (e.g. HT001) and add all the photos in there</p>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="shelterfile" accept="text/*" />
            </div>
            <div class="form-group">
                <input class="button button-light button-right" type="submit" name="shelters" value="Upload" />
            </div>
        </form>
    </div>

	<!--
    <div class="well">
        <h2>Import translations</h2>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="translationfile" accept="text/*" />
            </div>
            <div class="form-group">
                <input type="text" name="language_code" accept="image/*" placeholder="Language code" />
            </div>
            <div class="form-group">
                <input type="submit" name="translations" value="Submit" />
            </div>
        </form>
        <h3>Available translations</h3>
        <ul>
            {% for translation in imported_translations %}
                <li>{{ translation[0] }} (<a href="{{ url_for('administration.delete_translation', language_code=translation[0], next='/admin/dashboard') }}" onclick="return confirm('You are going to delete this language.');">delete</a>)</li>
            {% endfor %}
        </ul>
    </div>
	

    <div class="well">
        <h2>Import pictures</h2>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="picturesfile" accept="text/*" />
            </div>
            <div class="form-group">
                <input type="submit" name="pictures" value="Submit" />
            </div>
        </form>
    </div>
    -->
</div>
{% endblock %}
{% block defer %}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
{% endblock %}