
.icon-globe:before { content: '\e800'; } /* '' */
.icon-help:before { content: '\e801'; } /* '' */
.icon-group:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-down-big:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-resize-full:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-thumbs-up:before { content: '\e80a'; } /* '' */
.icon-download:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-logout:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-left-big:before { content: '\e80f'; } /* '' */
.icon-right-big:before { content: '\e810'; } /* '' */
.icon-print:before { content: '\e811'; } /* '' */
.icon-edit:before { content: '\e812'; } /* '' */
.icon-doc:before { content: '\e813'; } /* '' */
.icon-calendar:before { content: '\e814'; } /* '' */
.icon-barcode:before { content: '\e815'; } /* '' */
.icon-sun-filled:before { content: '\e816'; } /* '' */
.icon-landscape-with-mountains:before { content: '\e817'; } /* '' */
.icon-temperatire:before { content: '\e818'; } /* '' */
.icon-terrain:before { content: '\e819'; } /* '' */
.icon-users:before { content: '\e81a'; } /* '' */
.icon-user-1:before { content: '\e81b'; } /* '' */
.icon-github-circled:before { content: '\e81c'; } /* '' */
.icon-shelter:before { content: '\e81d'; } /* '' */
.icon-plus:before { content: '\e81e'; } /* '' */
.icon-earlyrecovery:before { content: '\e81f'; } /* '' */
.icon-eye:before { content: '\e820'; } /* '' */
.icon-eye-off:before { content: '\e821'; } /* '' */
.icon-trash-empty:before { content: '\e822'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */