{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='lib/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
          rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/file-saver/FileSaver.js')}}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row>">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">

                        <div class="dc-data-count dc-chart" id="data-count">

                            <h2> Shelters
                                <small>
                                    <span class="filter-count"></span> selected out of <span class="total-count"></span>
                                    records
                                    |
                                    <a id="all" href="#">Reset All</a>

                                </small>
                            </h2>
                        </div>


                        <div class="map" id="chart-map">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>By Year of Construction</h4>
                        <div class="dc-chart" id="chart-timeline"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>By Zone</h4>
                        <div class="dc-chart" id="chart-ring-zone"></div>
                    </div>
                    <div class="col-md-3">
                        <h4>By Crisis</h4>
                        <div class="dc-chart" id="chart-ring-crisis"></div>
                    </div>
                    <div class="col-md-3">
                        <h4>By Climate</h4>
                        <div class="dc-chart" id="chart-ring-climate"></div>
                    </div>
                    <div class="col-md-3">
                        <h4></h4>
                        <div class="dc-chart" id=""></div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>By Country</h4>
                        <div class="dc-chart" id="chart-bar-country"></div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <h2 class="text-right">
                    <small>
                        <a id="download">Download</a>
                        |
                        <a id="share">Share</a>
                    </small>
                </h2>


                <table class="table table-bordered table-striped dc-table" id="shelters-table">

                    <thead>
                    <tr class="header">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Zone</th>
                        <th>Country</th>
                        <th>Crisis</th>
                        <th>Climate</th>
                    </tr>
                    </thead>
                </table>
            </div>


        </div>
    </div>

    <script>
        $(document).ready(function () {

            //    Id,Name,Zone,Country,Associated disaster,Lat,Lon,Climate,Year of first construction


            var zoneChart = dc.pieChart('#chart-ring-zone')
            var crisisChart = dc.pieChart('#chart-ring-crisis')
            var climateChart = dc.pieChart('#chart-ring-climate')
            var timeChart = dc.barChart('#chart-timeline');
            var countryChart = dc.rowChart('#chart-bar-country')
            var mapChart = dc_leaflet.markerChart("#chart-map")
            var tableChart = dc.dataTable("#shelters-table")


            d3.csv('/static/data/shelters-sample.csv', function (data) {



                var dateFormat = d3.time.format('%Y');
                data.forEach(function (d) {
                    d['Year of first construction'] = dateFormat.parse(d['Year of first construction'])
                })

                var ndx = crossfilter(data);

                var allDimensions = ndx.dimension(function (d) {
                    return d;
                });
                var all = ndx.groupAll();
                var dataCount = dc.dataCount('#data-count')
                var zoneDimension = ndx.dimension(function (d) {
                    return d.Zone;
                });
                var zoneCount = zoneDimension.group().reduceCount()


                var crisisDimension = ndx.dimension(function (d) {
                    return d['Associated disaster'];
                });
                var crisisCount = crisisDimension.group().reduceCount()
                var climateDimension = ndx.dimension(function (d) {
                    return d.Climate;
                });
                var climateCount = climateDimension.group().reduceCount()


                var timeDimension = ndx.dimension(function (d) {
                    return d3.time.year(d['Year of first construction']);
                });
                var timeCount = timeDimension.group().reduceCount(
                        function (d) {
                            return d['Year of first construction'];
                        }
                );

                var shelters = ndx.dimension(function (d) {

                    return [d.Lat, d.Lon];
                });

                var countryDimension = ndx.dimension(function (d) {
                    return d.Country;
                })
                var countryCount = countryDimension.group().reduceCount()


                var sheltersGroup = shelters.group().reduceCount();

                mapChart.dimension(shelters)
                        .group(sheltersGroup)
                        .width(500)
                        .height(300)
                        .center([51.505, -0.09])
                        .zoom(1)
                        .filterByArea(true)
                        .cluster(true)
                        .on("filtered", getFiltersValues);

                addLayersToChart(mapChart)

                zoneChart
                        .width(100)
                        .height(100)
                        .dimension(zoneDimension)
                        .group(zoneCount)
                        .innerRadius(20)
                        .on("filtered", getFiltersValues);


                crisisChart
                        .width(100)
                        .height(100)
                        .dimension(crisisDimension)
                        .group(crisisCount)
                        .innerRadius(20)
                        .on("filtered", getFiltersValues);


                climateChart
                        .width(100)
                        .height(100)
                        .dimension(climateDimension)
                        .group(climateCount)
                        .innerRadius(20)
                        .on("filtered", getFiltersValues);
                ;

                timeChart
                        .width(500)
                        .height(120)
                        .dimension(timeDimension)
                        .group(timeCount)
                        .barPadding(5)
                        .x(d3.time.scale().domain([new Date(2008, 01, 01), new Date()]))
                        .xUnits(d3.time.year)
                        .on("filtered", getFiltersValues);


                countryChart
                        .width(250)
                        .height(250)
                        .dimension(countryDimension)
                        .group(countryCount)
                        .on("filtered", getFiltersValues);
                ;


                tableChart
                        .dimension(allDimensions)
                        .group(function (d) {
                            return '';
                        })
                        .columns([
                            function (d) {
                                return d.Id;
                            },
                            function (d) {
                                return d.Name;
                            },
                            function (d) {
                                return d.Zone;
                            },
                            function (d) {
                                return d.Country;
                            },
                            function (d) {
                                return d['Associated disaster'];
                            },
                            function (d) {
                                return d.Climate;
                            }
                        ])
                        .on('renderlet', function (table) {
                            // each time table is rendered remove nasty extra row dc.js insists on adding
                            table.select('tr.dc-table-group').remove();
                        })

                dataCount
                        .dimension(ndx)
                        .group(all)


                // Init chart filters

                function initFilters() {
                    var parseHash = /^#zone=([A-Za-z0-9,_\-\/\s]*)&crisis=([A-Za-z0-9,_\-\/\s]*)&climate=([A-Za-z0-9,_\-\/\s]*)&time=([A-Za-z0-9,_\-\/\s\(\):+]*)&country=([A-Za-z0-9,_\-\/\s]*)&map=(.*)$/;
                    var parsed = parseHash.exec(decodeURIComponent(location.hash.replace(/\+/g, ' ')));
{#                    console.log("parsed:", parsed)#}
                    function filter(chart, rank) {

                        if (parsed[rank] == "") {
                            chart.filter(null);
                        }
                        else {
                            var filterValues = parsed[rank].split(",");

                            if (rank ==4 && filterValues.length==2) {   //filtering timeChart
                                filterValues[i] = new Date(filterValues[i])
                                var start = new Date(filterValues[0])
                                var end = new Date(filterValues[1])
                                chart.filter(dc.filters.RangedFilter(start,end))
                            }
                            else {
                                if (rank ==6) {
{#                                    console.log('parsed:', filterValues)#}
{#                                    filterValues = JSON.parse(filterValues)#}
{#                                    console.log(filterValues)#}

                                } else {
                                    for (var i = 0; i < filterValues.length; i++) {
                                        chart.filter(filterValues[i]);
                                    }
                                }
                            }

                        }
                    }

                    if (parsed) {
                        filter(zoneChart, 1);
                        filter(crisisChart, 2);
                        filter(climateChart, 3);
                        filter(timeChart, 4);
                        filter(countryChart, 5)
                        filter(mapChart, 6);
                    }

                    dc.renderAll();

                }


                d3.select('#download')
                .on('click', function() {
                    var data = allDimensions.top(Infinity);
                    var blob = new Blob([d3.csv.format(data)], {type: "text/csv;charset=utf-8"});
                    saveAs(blob, 'data.csv');
                });

                initFilters()

            })

            d3.selectAll('#all').on('click', function () {
                dc.filterAll();
                dc.renderAll();
            });


            // Serializing filters values in URL
            function getFiltersValues() {
                var filters = [
                    {name: 'zone', value: zoneChart.filters()},
                    {name: 'crisis', value: crisisChart.filters()},
                    {name: 'climate', value: climateChart.filters()},
                    {name: 'time', value: timeChart.filters()},
                    {name: 'country', value: countryChart.filters()},
                    { name: 'map', value: JSON.stringify(mapChart.filters())}
                    ];

{#                console.log("map:")#}
{#                console.log(JSON.stringify(mapChart.filters()))#}
                var recursiveEncoded = $.param(filters);
                location.hash = recursiveEncoded;
            }


        })


        function addLayersToChart(mapChart) {
            var redCrossLayer = L.tileLayer.wms("https://shelter-database.org:8443/geoserver/ows?service=wms&version=1.1.1&request=GetCapabilities", {
                layers: 'shelters:redcross',
                transparent: true,
                opacity: 0.5

            });

            var koeppenGeigerLayer = L.tileLayer.wms("https://shelter-database.org:8443/geoserver/ows?service=wms&version=1.1.1&request=GetCapabilities", {
                layers: 'koeppen-geiger',
                transparent: true,
                opacity: 0.5
            })

            mapChart._doRender()
            var map = mapChart.map()


            var googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
                attribution: ''
            });

            var googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
                attribution: ''
            });

            var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
                attribution: ''
            });

            var googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
                attribution: ''
            });

            var openStreetMap = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            })

            var baseLayers = {
                "Open Street Map": openStreetMap,
                "Google streets": googleStreets,
                "Google hybrid": googleHybrid,
                "Google satelite": googleSat,
                "Google physical": googleTerrain
            }

            L.control.layers(baseLayers, {
                "Climate simplified classification": redCrossLayer,
                "Koeppen-Geiger": koeppenGeigerLayer
            }).addTo(map);

        };

        d3.select("#share")
        .on('click', function() {
            window.prompt("Link to share:", window.location.href);
        })

    </script>
{% endblock %}
