{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>

    <link href="{{ url_for('static', filename='lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" media="screen" />
{% endblock %}
{% block content %}
<div class="container-fluid">

    <section layout:fragment="content">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li id="tab-general">
                <a href="{{ url_for('shelter_bp.edit', shelter_id=shelter_id, section_name='generalInformation') }}">General Information</a>
            </li>
            <li id="tab-details">
                <a href="{{ url_for('shelter_bp.edit', shelter_id=shelter_id, section_name='implementationDetails') }}">Implementation details</a>
            </li>
            <li id="tab-structure">
                <a href="{{ url_for('shelter_bp.edit', shelter_id=shelter_id, section_name='structure') }}">Structure</a>
            </li>
            <li id="tab-skin">
                <a href="{{ url_for('shelter_bp.edit', shelter_id=shelter_id, section_name='skin') }}">Skin</a>
            </li>
            <li id="tab-services">
                <a href="{{ url_for('shelter_bp.edit', shelter_id=shelter_id, section_name='services') }}">Services</a>
            </li>
            <li id="tab-spaceplan">
                <a href="{{ url_for('shelter_bp.edit', shelter_id=shelter_id, section_name='spacePlan') }}">Spaceplan</a>
            </li>
            <li id="tab-documents">
                <a href="{{ url_for('shelter_bp.edit', shelter_id=shelter_id, section_name='documents') }}">Documents</a>
            </li>

            <li id="tab-edit" class="pull-right" >
                <a id="btn-edit" class="btn" style="font-weight: bold;" href="{{ url_for('shelter_bp.details', shelter_id=shelter_id, section_name=section_name) }}">Edit</a>
            </li>
        </ul>

        <section layout:fragment="tabcontent">
            <div class="tab-content"></div>
        </section>

    <div class="form-horizontal" role="form" action="" shelterId="{{shelter_id}}" id="shelterForm">
        {% for category_name in categories_list %}
            <fieldset id="{{ category }}" class="border">
                <legend class="border">
                    <span class="section-title">{{ category_name | translate }}</span>
                </legend>
                <div class="col-md-8">
                    {% for category  in categories[category_name]  %}
                        {% for attribute in category.attributes %}
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <b>{{ attribute.name | translate }}</b>
                                    </div>

                                    <div class="col-md-4">
                                        {% if not attribute.is_editable %}
                                            {{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name  | translate }}
                                        {% elif not attribute.free_text %}
                                            <select class="form-control select-attribute selectpicker show-tick"
                                            property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                            {% if attribute.multiple %}multiple="multiple"{% endif %}
                                            attribute-id="{{ attribute.id }}"
                                            category-id="{{ attribute.category_id }}"
                                            id="{{ attribute.id }}">
                                                <option value=""></option>
                                                {% for value in attribute.associated_values %}
                                                    <option value="{{value.id}}"
                                                        {% if value.id in shelter.get_idvalues_of_attribute(attribute.id)  %}selected="selected"{% endif %}>{{ value.name | translate }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            {% if attribute.type == "TextArea" %}
                                                <textarea rows="10" id="{{ attribute.associated_values.first().id }}"
                                                class="form-control free-text-attribute"
                                                property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                attribute-id="{{ attribute.id }}"
                                                category-id="{{ attribute.category_id }}"
                                                value-id="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].id }}">{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name | translate }}</textarea>
                                            {% elif attribute.type == "Date" %}
                                                <input type="date"
                                                id="{{ attribute.associated_values.first().id }}"
                                                class="form-control datepicker free-text-attribute"
                                                property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                attribute-id="{{ attribute.id }}"
                                                category-id="{{ attribute.category_id }}"
                                                value-id="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].id }}"
                                                value="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name }}" />
                                            {% else %}
                                                <input type="text"
                                                id="{{ attribute.associated_values.first().id }}"
                                                class="form-control free-text-attribute"
                                                property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                attribute-id="{{ attribute.id }}"
                                                category-id="{{ attribute.category_id }}"
                                                value-id="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].id }}"
                                                value="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name | translate }}" />
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </fieldset>
        {% endfor %}
    </div>


<script type="text/javascript" class="source">
$(document).ready(function() {
    if (window.location.href.indexOf("generalInformation") > -1){
        $("#tab-general").attr('class', "active");
        $("#title").text("Shelter details - General Information");
    }
    if (window.location.href.indexOf("implementationDetails") > -1) {
        $("#tab-details").attr('class', "active");
        $("#title").text("Shelter details - Implementation details");
    }
    if (window.location.href.indexOf("structure") > -1) {
        $("#tab-structure").attr('class', "active");
        $("#title").text("Shelter details - Structure");
    }
    if (window.location.href.indexOf("skin") > -1) {
        $("#tab-skin").attr('class', "active");
        $("#title").text("Shelter details - Skin");
    }
    if (window.location.href.indexOf("services") > -1) {
        $("#tab-services").attr('class', "active");
        $("#title").text("Shelter details - Services");
    }
    if (window.location.href.indexOf("spacePlan") > -1) {
        $("#tab-spaceplan").attr('class', "active");
        $("#title").text("Shelter details - Spaceplan");
    }
    if (window.location.href.indexOf("documents") > -1) {
        $("#tab-documents").attr('class', "active");
        $("#title").text("Shelter details - Documents");
    }

    if (window.location.href.indexOf("/edit/") > -1) {
        var value = $("#btn-edit").attr('href');
        $("#btn-edit").attr('href',  value.replace('/edit/', '/details/'));
        $("#btn-edit").text('Details');
    }

    $( ".datepicker" ).datepicker();

    $('.select-attribute').change(function(evt) {
        property_id = $(evt.target).attr("property-id")
        id_of_values = $(evt.target).val()
        if (typeof id_of_values === 'string') {
            tmp = []
            tmp.push(id_of_values)
            id_of_values = tmp
        }

        if (property_id==""){
            category_id = $(evt.target).attr("category-id")
            attribute_id = $(evt.target).attr("attribute-id")
            new_property(category_id, attribute_id, id_of_values)
        } else {
            update_property(property_id, id_of_values)
        }
    });

    $('.free-text-attribute').change(function(evt) {
        value = $(evt.target).val()
        value_id = $(evt.target).attr("value-id")

        if (value_id != "None") {
            console.log("update");
            update_free_text_value(value_id, value);
        } else {
            console.log(value_id);
            category_id = $(evt.target).attr("category-id")
            attribute_id = $(evt.target).attr("attribute-id")
            new_free_text_property(category_id, attribute_id, value);
        }
    });

});






        function update_free_text_value(value_id, value) {
            new_value = {name: value}

            $.ajax({
                type: 'PUT',
                url: 'http://' + document.domain + ':' + location.port + '/api/value/' + value_id,
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(new_value),
                success: function (result) {
                    console.log(result);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(errorThrown);
                }
            });
        }

        function new_free_text_property(category_id, attribute_id, value) {
            new_property = {
                                "shelter_id": {{ shelter_id }},
                                "attribute_id": attribute_id,
                                "category_id": category_id,
                                "values": [
                                    {
                                        name:value,
                                        attribute_id:attribute_id
                                    }
                                ]
                            }
            $.ajax({
                type: 'POST',
                url: 'http://' + document.domain + ':' + location.port + '/api/property',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(new_property),
                success: function (result) {
                    console.log(result);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(errorThrown);
                }
            });
        }

        function new_property(category_id, attribute_id, id_of_values) {
            new_property = {
                                "shelter_id": {{ shelter_id }},
                                "attribute_id": attribute_id,
                                "category_id": category_id,
                                "values": []
                            }
            id_of_values.map(function(id) {
                new_property["values"].push({"id":parseInt(id)})
            })

            $.ajax({
                type: 'POST',
                url: 'http://' + document.domain + ':' + location.port + '/api/property',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(new_property),
                success: function (result) {
                    console.log(result);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(errorThrown);
                }
            });
        }

        function update_property(property_id, id_of_values) {
            new_property = {values: []}
            id_of_values.map(function(id) {
                new_property["values"].push({"id":parseInt(id)})
            })

            $.ajax({
                type: 'PUT',
                url: 'http://' + document.domain + ':' + location.port + '/api/property/' + property_id,
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(new_property),
                success: function (result) {
                    console.log(result);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(errorThrown);
                }
            });
        }
        </script>
</section>
</div><!-- /.container -->
{% endblock %}
