{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="master" style="position:relative" >
    <a class="clickButton" href="{{ url_for('weekplan') }}">Basculer vers la vue planning hebdomadaire</a>
    <a class="clickButton" href="{{ url_for('prerequisits') }}">Vérifier les prérequis semaine</a>

    <div id="bs" class="ui-dialog" title="">
    </div>

    <div style="text-align:center;">
        <p style="display:inline">
            <label id="labelamount" for="amount">Jour:</label>
            <input type="text" id="amount" value="2016-02-01" readonly style="text-align:center; font-weight:bold;">
        </p>
        <a id="ppc" class="clickButton">PPT</a>
    </div>

    <div id ="nav" class="activities">
            <div class="draggable image">
                Supprimer des Zones
            </div>
    </div> <!-- /nav -->
    <div id ="niv" class="droptask">

    </div> <!-- /niv -->

    <div id="section" align="center">
        <!-- make svg container "flex" -->
        <div class="svg-container">
            <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
            <svg id="svgCanvas"
                xmlns:dc="http://purl.org/dc/elements/1.1/"
                xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                width="1200"
                height="500"
                id="svg2"
                version="1.1"
                inkscape:version="0.48.4 r9939"
                sodipodi:docname="drawing.svg">
               <defs
                  id="defs4" />
               <metadata
                  id="metadata7">
                 <rdf:RDF>
                   <cc:Work
                      rdf:about="">
                     <dc:format>image/svg+xml</dc:format>
                     <dc:type
                        rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                     <dc:title></dc:title>
                   </cc:Work>
                 </rdf:RDF>
               </metadata>
               <g
                  inkscape:label="Lower"
                  inkscape:groupmode="layer"
                  id="layer1"
                  style="display:inline"
                  transform="translate(0,-308.2677)">
                 <image
                    y="200"
                    x="-1.666668"
                    id="image3047"
                    xlink:href="{{ url_for('static', filename='img/PlanLPS_V06.png') }}"
                    height="692"
                    width="1200"
                    style="fill:#803300" />
               </g>
               <g
                  inkscape:groupmode="layer"
                  id="zoning"
                  inkscape:label="Zoning"
                  style="display:inline">
               </g>
            </svg>
        </div><!-- /.container -->
        <div id="trash"></div>
    </div> <!-- /.section -->

</div> <!-- end master -->

<script>

    //Global Variable definition (size of the window to compute, click for zone drawing with mouse and swipe for the footer page transition)
    var clicking = false;
    var leftY;
    var topY;
    var swipeX;

$(function() {
    $("body").css("display", "none");
    $("body").fadeIn(1000);

    $("#bs"). dialog({
              autoOpen: false,
              height: 300,
              width: 350,
              modal: true
    });

     $( "#amount" ).datepicker({
        showWeek: true,
        defaultDate : "2016-02-01",
        dateFormat: 'yy-mm-dd',
         onSelect: function(dateText, inst) {
            $('#amount').val(dateText);
             $('.dropped').remove();
             initPostIt();
             initUnPlannedTasks();
         }
    });

    var svgCanvas = document.getElementById("svgCanvas");
    var svgPath;

    //init task bar collection and event handler
   // initTaskBar();
    leftY = document.getElementById("svgCanvas").getClientRects()[0].left;
    topY= document.getElementById("svgCanvas").getClientRects()[0].top;

    var clientrects = document.getElementById('section').getClientRects()[0];
     // Initializes the activities in the left menu
    initActivities();

    // Initializes the zones in the SVG map, the if OK place the post-it.
    initZones();

    svgCanvas.addEventListener("mousedown", startDrawClick, false);
    svgCanvas.addEventListener("mouseup",  endDrawClick, false);
    svgCanvas.addEventListener("mousemove", continueDrawClick, false);

    svgCanvas.addEventListener("touchstart", startDrawTouch, false);
    svgCanvas.addEventListener("touchmove", continueDrawTouch, false);
    svgCanvas.addEventListener("touchend", endDrawTouch, false);

    $('#swipeZone').on("touchstart", startSwipePlanning);
    $('#swipeZone').on("touchmove", swipePlanning);

    // console.log('clientrect: ', clientrects.left, clientrects.top);
    var namespace = '/task';

    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
    socket.on('post', function(task) {
        if(task.zone_id==null) {
           addNewTask(task);
        }
    });

    // Hack for computing interestion between JqueryUI and SVG.
    // => warning working on BoundingBox.
    $.ui.intersect_o = $.ui.intersect;

    $.ui.intersect = function(draggable, droppable, toleranceMode) {
        //Fix helper
        if (draggable.helperProportions && draggable.helperProportions.width === 0 && draggable.helperProportions.height === 0) {
            draggable.helperProportionsBBox = draggable.helperProportionsBBox || $(draggable.element).get(0).getBBox();
            draggable.helperProportions = draggable.helperProportionsBBox;
        }
        //Fix droppable
        if (droppable.proportions && droppable.proportions.width === 0 && droppable.proportions.height === 0) {
            droppable.proportionsBBox = droppable.proportionsBBox || $(droppable.element).get(0).getBBox();
            droppable.proportions = droppable.proportionsBBox;
        }
        return $.ui.intersect_o(draggable, droppable, toleranceMode);
    };

    initTrash();

    //JqueryUI call for styling and changing button behavior.
    $('.clickButton').button();

    $('#ppc').on('click',loadDialog);

     initUnPlannedTasks();

}); //end on document ready


/* -----------------------------WebSocket--------------------------------

------------------------------------------------------------------------- */

function addNewTask(task) {
    var divI = document.createElement("div");
    var hone = document.createElement("h1");
    var p = document.createElement("p");
    var ptext = document.createTextNode(task.comment);
    p.appendChild(ptext);
    var t = document.createTextNode(task.subactivity.name);
    hone.appendChild(t);
    divI.appendChild(hone);
    divI.appendChild(p);

    divI.setAttribute("id", task.id);
    divI.classList.add("draggable");
    divI.classList.add("post-it");
    divI.classList.add(task.subactivity.css); // find it from the elem.type
    divI.classList.add("ui-widget-content");
    divI.classList.add("dropped");

    console.log(task.top, task.left);
    if(task.top!=0 && task.left!=0) {
        var topy = task.top;
        var leftx = task.left;

        document.getElementById("master").appendChild(divI);

        divI.style.position="absolute";
        divI.style.top=topy;
        divI.style.left=leftx;
    } else {
        console.log('ls');
        document.getElementById("niv").appendChild(divI);
    }
    //add also the draggable behavior to elements that are created this way... should use promise/callback in order to
    //get all elements.
    $('.draggable').draggable({
        containment: '#container',
        cursor: 'move'
    });
}

/* ---------------------------------------------------------------------- */
function initActivities() {
    //Now activity template should be a button to filter all elements
    $("#nav").append('<ol id="selectable"> </ol>');
    var activityTmpl = _.template(
        '<li id="<%= id %>" class="mactivity <%= css %>">' +
            '<%= name %>' +
        '</li>');
    $.ajax({
        type: 'GET',
        url: 'http://' + document.domain + ':' + location.port + '/api/activity',
        contentType: "application/json",
        dataType: "json",
        success: function (result) {
            activities = _.sortBy(result.objects, 'display_order');
            activities.map( function(activity) {
                console.log(activity.css);
            //WARNING hard coded exclusion of Jalons... because they are also activities... and another time a last minute spec.
            if(activity.css!=="post-itJalons") {
                $("#selectable").append(activityTmpl(
                    {
                        id: activity.html_id,
                        name: activity.name,
                        css: activity.css,
                    }
                ));
             }
            });
            /*
                $("#nav").append('<br /><a id="clearStorage" class="clickButton" href="#">Delete all tasks</a>');
                $("#nav").append('&nbsp;<a id="clearZonePolygon" class="clickButton" href="#">Delete all sub-zones</a>');
            */

           /* $('.draggable').draggable({
                helper: 'clone',
                cursor: 'move',
                connectToSortable: ".activities"
            });*/

            $('#selectable').selectable();

            $("#selectable").on("selectablestart", function (event, ui) {
                event.originalEvent.ctrlKey = true;
            }); //simulate the crtl for multiples selections

            $("#clearStorage").on("click", function(e) {
                $.ajax({
                    type: 'DELETE',
                    url: 'http://' + document.domain + ':' + location.port + '/api/task',
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result) {
                        location.reload();
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown){
                        console.log(errorThrown);
                    }
                })
            });

            $("#clearZonePolygon").on("click", function(e) {
                $.ajax({
                    type: 'GET',
                    url: 'http://' + document.domain + ':' + location.port + '/api/zone_micro',
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result) {
                        $.when(
                            result.objects.map( function(zonepolygon) {
                                $.ajax({
                                    type: 'DELETE',
                                    url: 'http://' + document.domain + ':' + location.port + '/api/zone_micro/' + zonepolygon.id,
                                    contentType: "application/json",
                                    dataType: "json",
                                    success: function (result) {
                                        console.log("delete");
                                    },
                                    error: function(XMLHttpRequest, textStatus, errorThrown){
                                        console.log(errorThrown);
                                    }
                                });
                            })).then( function(result) {
                                location.reload();
                            });

                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown){
                        console.log(errorThrown);
                    }
                })
            });
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });
}

function initZones() {
    var filters = [{'name':'type', 'op':'neq', 'val':'storage'}];
    $.ajax({
        type: 'GET',
        url: 'http://' + document.domain + ':' + location.port + '/api/zone',
        contentType: "application/json",
        dataType: "json",
        data: {"q": JSON.stringify({"filters": filters})},
        success: function (result) {
            var svgContainer = d3.select("#zoning");
            result.objects.map( function(zone) {
                if(zone.type=='macro') {
                    svgContainer.append(zone.shape)
                    .attr("id", zone.id)
                    .attr("class", "zone macro")
                    .attr('points', zone.points)
                    .attr("style", "stroke:#ff0000;stroke-width:4;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"); //fill:#803300;fill-opacity:0;
                } else {
                     svgContainer.append(zone.shape)
                    .attr("id", zone.id)
                    .attr("class", "zone micro")
                    .attr('points',JSON.parse(zone.points))
                    .attr("style", "fill:#803300;fill-opacity:0;stroke:#ff0000;stroke-width:4;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none");
                }
            });
            //!!! WARNING !!!!
            var elems = d3.selectAll("#zoning polygon");
            elems[0][0].setAttribute("style", "fill:#058aa6;stroke:#ff0000;stroke-width:4;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none");
            elems[0][1].setAttribute("style", "fill:#82c4d2;stroke:#ff0000;stroke-width:4;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none");
            elems[0][2].setAttribute("style", "fill:#058aa6;stroke:#ff0000;stroke-width:4;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none");
            elems[0][3].setAttribute("style", "fill:#82c4d2;stroke:#ff0000;stroke-width:4;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none");
            // Set events on the previously generated zones
            initEvents();
            // Intializes the post-it
            initPostIt();
            },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });
}


function initTrash() {

        var trash = document.getElementById("trash");

         $('#trash') //call it on class zones.
        .droppable({
           //accept: '.product',
           //tolerance: 'touch',
           over: function (event, ui) {
              this.classList.add('overTrash');
               console.log("overtrash");
           },

          out: function(event, ui) {
            this.classList.remove('overTrash');
          },

          drop: function (event, ui) {
            console.log("delete!");

            removePostIt(ui.draggable[0].id);
            //document.getElementById(ui.draggable[0].id).remove();

            //uncolor the dragged element
            this.classList.remove('overTrash');
          }
       });

}

function initEvents() {
    $('.zone') //call it on class zones.
        .droppable({
           //accept: '.product',
           //tolerance: 'touch',
           over: function (event, ui) {
            if((ui.draggable.hasClass('post-it'))) {

            //1) get values from DB, is it possible to do this task?
                var zoneid =event.target.id;
                var taskid =ui.draggable[0].id;
                //!!!!!!!!!!!!!!!!!!!!!!!!!!Warning fixed values
                  $.ajax({
                    type: 'GET',
                    url: 'http://' + document.domain + ':' + location.port + '/check_subactivity_prerequisits?zone_id='+zoneid+'&task_id='+taskid+'&start_date='+'2016-02-1'+'&end_date=2016-02-25',
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result) {
                            var classZone = (result.result=="OK")? "ok" : 'Nok';
                             event.target.classList.add(classZone);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown){
                        console.log(errorThrown);
                    }
                });

           } else {
              //if(not this.classList.hasClass('macro')) {
                  this.classList.add('Nok');
              //}
            }
           },

          out: function(event, ui) {
            this.classList.remove('ok');
            this.classList.remove('Nok');
          },

          drop: function (event, ui) {

              if(!(ui.draggable.hasClass('post-it'))) {
                  removeZone(this);
                  //this.classList.remove('Nok');
              } else {

                  // var zoneok = _.filter($('.zone'),function(elem){
                   // });

                    //if zoneok contains both macro and micro => ignore the rest of code for the micro

                    var glone = ui.draggable.clone(); //anyway create a clone

                    if(!ui.draggable.hasClass('dropped')) { //if it has already been dropped then only move it
                        var glone = ui.draggable.clone();
                        glone.draggable({
                            containment: '#container' //is it necessary? since there is not longer #container
                        });

                        $('#section').append(glone);
                    }

                  //-->offset left = ok , offset top +
                    //compute position absolute! ======> compute position from the rect/shape?
                    glone.css({
                        left: (ui.offset.left-10), //changed the position (relative) by offsets (absolute?)
                        top: (ui.offset.top-131), //Warning removed 100 px...still need to find which element
                        position: 'absolute'
                    });

                    // If drop a task in a Not ok zone.
                    if(this.classList.contains("Nok")) {
                        ui.draggable.addClass("Warning");
                        glone.addClass("Warning");
                    } else {
                        //console.log(ui.draggable.classList);
                       // ui.draggable.classList.remove("Warning");
                        //glone.classList.remove("Warning");
                    }
                    //store zone/zone_id before update store
                    glone.zone_id= event.target.id //take the id of the zone and choose micro zone over macro ones

                    if(glone.hasClass("dropped")) {
                        updatePosition(glone, event);
                    } else {
                        storePosition(event, glone);
                    }

                    //end of process : glone is ang: 15 copy (or a moved copy) of original tasks.
                    glone.addClass("dropped");

                    //uncolor the dragged element
                    this.classList.remove('ok');
                    this.classList.remove('Nok');
               }
          }
       });

     $('.droptask') //call it on class zones.
        .droppable({
           //accept: '.product',
           //tolerance: 'touch',
           over: function (event, ui) {
              this.classList.add('barok');
           },

          out: function(event, ui) {
            this.classList.remove('barok');
          },

          drop: function (event, ui) {

                    var glone = ui.draggable.clone(); //anyway create a clone

                    if(!ui.draggable.hasClass('dropped')) { //if it has already been dropped then only move it
                        var glone = ui.draggable.clone();
                        glone.draggable({
                            containment: '#container'
                        });

                        $('#section').append(glone);
                    }

                    glone[0].zone_id=null;
                    if(glone.hasClass("dropped")) {
                        updatePosition(glone, event);
                    } else {
                        storePosition(event, glone);
                    }

                    //end of process : glone is ang: 15 copy (or a moved copy) of original tasks.
                    glone.addClass("dropped");

                    //uncolor the dragged element
                    this.classList.remove('ok');
                    this.classList.remove('barok');
          }
       });
}


function loadDialog(e) {
    // call the checkPrereqPPH()

  // Build title from zone id
  var textTitle= 'Pourcentage de promesses tenues';
  $( "#bs" ).dialog('option', 'title', textTitle);

  $( "#bs" ).empty();

    /*
    var prereqTpl = _.template(
                    '<p>'+
                        '<span class="ui-icon ui-icon-<>" style="float:left;"></span>'+
                            '<h2><%= materialname %></h2>'+
                    '</p>'
    );
    */
    //warning
    var prereqTpl = _.template(
                    '<p>'+
                        "<img height=\"35%\" src=\"{{ url_for('static', filename='img/warning.png') }}\" width=\"15%\"/>"+
                            '<h2><%= materialname %></h2>'+
                    '</p>'
    );

    var filters = [{"name": "pph", "op": "eq", "val": true}];

    $.ajax({
    type: 'GET',
    url:'http://' + document.domain + ':' + location.port + '/api/task',
    contentType: "application/json",
    dataType: "json",
    data: {"q": JSON.stringify({"filters": filters})},
    success: function (result) { //=> result.task(filter on date).materials - Date = next week!
            var t_total = result.num_results;
            var t_done = _.filter(result.objects,{'done':true});
            t_done=t_done.length;

            var ppt =(t_done/t_total)*100;
            ppt = ppt.toFixed(2);
            $( "#bs" ).append("<h1>"+ppt+"%"+"</h1>");
    },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });

  $("#bs").dialog("open");

}

function initPostIt() {
    // Find and display all documents for the current day.
    var day = $("#amount").val();

    var filters = [{"name": "day", "op": "eq", "val": day},
                    {"name": "zone", "op": "is_not_null"},
                    {"name": "pph", "op": "eq", "val": true},
                    {"name": "done", "op": "eq", "val": "false"}];

    $.ajax({
        type: 'GET',
        url: 'http://' + document.domain + ':' + location.port + '/api/task',
        contentType: "application/json",
        dataType: "json",
        data: {"q": JSON.stringify({"filters": filters})},
        success: function (result) {
            result.objects.map( function(elem) {
                var divI = document.createElement("div");
                var hone = document.createElement("h1");
                var p = document.createElement("p");
                var ptext = document.createTextNode(elem.comment)
                p.appendChild(ptext);
                var t = document.createTextNode(elem.subactivity.name);
                hone.appendChild(t);
                divI.appendChild(hone);
                divI.appendChild(p);
                divI.setAttribute("id", elem.id);
                divI.classList.add("draggable");
                divI.classList.add("post-it");
                divI.classList.add(elem.subactivity.css); // find it from the elem.type
                divI.classList.add("ui-widget-content");
                divI.classList.add("dropped");

                //coordinates are not defined in the DB (manual entries for the POC)
                if(elem.top==0 && elem.left==0) {
                    // Dedicated parsing for center string...normally Json.parse should work
                    var inter = elem.zone.center.match(/\d+/g);
                    zoneCenterx = inter[0];
                    zoneCentery = inter[1];

                    console.log(elem.zone.points);

                    //Warning manual entries for offsets x / y !!!!!!!
                    var offsetx = 350;
                    var offsety = 80;
                    var plusorMinus = Math.round(Math.random()) * 2 - 1;

                    //Random computation of post-it position, arbitrary value for coordinates : x:between 0 and 100, y between 0 and 70;
                    var topy = (parseInt(zoneCentery)+offsety-(Math.floor((Math.random() * 50) + 1)*plusorMinus))+'px';
                    var leftx = (parseInt(zoneCenterx)+offsetx+(Math.floor((Math.random() * 50) + 1)*plusorMinus))+'px';

                } else {
                    var topy = elem.top;
                    var leftx = elem.left;
                }

                document.getElementById("master").appendChild(divI);
                elem.warning ? divI.classList.add("Warning"): " ";
                divI.style.position="absolute";
                divI.style.top=topy;
                divI.style.left=leftx;

                //add also the draggable behavior to elements that are created this way... should use promise/callback in order to
                //get all elements.
                $('.draggable').draggable({
                    cursor: 'move'
                });

            })
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            console.log(errorThrown);
        }
    });
}


/**
* Init task with no zone
*/
function initUnPlannedTasks() {
    var activityTmpl = _.template(
        '<div id="<%= id %>" class="dropped post-it <%= css %> draggable ui-widget-content">' +
            '<h1 class="posit-title"><%= name %></h1>' +
            '<p class="comment"> <%= comment %></p>' +
        '</div>');

    var filters = [{"name": "zone_id", "op": "is_null"},{"name":"done", "op":"eq", "val":"false"}];

    $.ajax({
        type: 'GET',
        url: 'http://' + document.domain + ':' + location.port + '/api/task',
        contentType: "application/json",
        dataType: "json",
        data: {"q": JSON.stringify({"filters": filters})},

        success: function (result) {
            activities = result.objects;
            activities.map( function(activity) {
                addNewTask(activity);
            });
        },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
        }
    });
}


function storePosition(e, ui) {
    var day = $("#amount").val();
    var storable = ui[0];
    var toStore = {
                     top : storable.style.top,
                     left : storable.style.left,
                     //type : storable.querySelector("h1").innerHTML,
                     zone_id: e.target.id,
                     done : false,
                     day: day
                 };
    $.ajax({
            type: 'POST',
            url: 'http://' + document.domain + ':' + location.port + '/api/task',
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(toStore),
            success: function (result) {
                ui[0].setAttribute('id', result.id);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                console.log(errorThrown);
            }
        })
}

function removePostIt(id) {
    var toStore = {
        done : true
    };

        $.ajax({
        type: 'PUT',
        url: 'http://' + document.domain + ':' + location.port + '/api/task/' + id,
        contentType: "application/json",
        dataType: "json",
        data: JSON.stringify(toStore),
        success: function (result) {
            console.log(result);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            console.log(errorThrown);
        }
    });

    /*
    $.ajax({
        type: 'DELETE',
        url: 'http://' + document.domain + ':' + location.port + '/api/task/' + id,
        contentType: "application/json",
        dataType: "json",
        success: function (result) {
            console.log(result);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            console.log(errorThrown);
        }
    });
    */
}

function updatePosition(glone, e) {
    var day = $("#amount").val();
    var tostore = glone[0];
    var zoneid;
    if(e.target.id=="niv") {zoneid = null;} else {zoneid = e.target.id;}
    var toStore = {
                     top : tostore.style.top,
                     left : tostore.style.left,
                     warning : tostore.classList.contains("Warning")? true : false,
                     //type : tostore.querySelector("h1").innerHTML,
                     done : false,
                     zone_id: zoneid,
                     day: day
                 };
    $.ajax({
            type: 'PUT',
            url: 'http://' + document.domain + ':' + location.port + '/api/task/' + tostore.id,
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(toStore),
            success: function (result) {
                //console.log(result);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                console.log(errorThrown);
            }
        })
}


function removeZone(zonepolygon) {
    $.ajax({
        type: 'DELETE',
        url: 'http://' + document.domain + ':' + location.port + '/api/zone_micro/' + zonepolygon.id,
        contentType: "application/json",
        dataType: "json",
        success: function (result) {
                 $(zonepolygon).remove();
                //location.reload();
            },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                console.log(errorThrown);
            }
        });
}

/**
* ZONING FUNCTION
*/

function startDrawClick(event)
{
    topY=document.getElementById("svgCanvas").getClientRects()[0].top;
    leftY=document.getElementById("svgCanvas").getClientRects()[0].left;
    clicking=true;
    var touch =  event;

    svgPath =  createSvgElement("path");
    svgPath.setAttribute("fill", "none");
    svgPath.setAttribute("shape-rendering", "geometricPrecision");
    svgPath.setAttribute("stroke-linejoin", "round");
    svgPath.setAttribute("stroke-width","4");
    svgPath.setAttribute("stroke", "#fd0303");

    svgPath.setAttribute("d", "M" + (touch.clientX-leftY)  + "," + (touch.clientY-topY));
    svgCanvas.appendChild(svgPath);

    console.log((touch.clientX-leftY) + "," + (touch.clientY-topY));

}


function endDrawClick(event)
{
    clicking =false;
 if (svgPath)
    {
    // var segList = svgPath.normalizedPathSegList;

        var pathData = svgPath.getAttribute("d");
        var touch = event;
        pathData = pathData + " L" + (touch.clientX-leftY) + "," + (touch.clientY-topY);


        var segPoints = pathData.replace(/[ML]/g,'');
        var svgPoly = createSvgElement("polygon");

        //using old api deprecated in last Chrome versions... SVG 1.
        /*
        var segList = svgPath.pathSegList;


        var segPoints="";
        for(var i=1; i<segList.length; i++){
            var seg = segList.getItem(i);
            segPoints = segPoints+" " + seg.x + "," + seg.y;
          //  svgPoly.setAttribute("point",seg.x","seg.y);
        }
        */

        svgPoly.setAttribute("points", segPoints);
        svgPoly.setAttribute("stroke", "#fd0303");
        svgPoly.setAttribute("fill", "none");
        svgPoly.setAttribute("stroke-width","4");

        console.log('shoelaceForumla', polygonArea(svgPoly));

        svgCanvas.appendChild(svgPoly);

        //remove the hand made and keep only the new polygone.
        svgPath.setAttribute("d", pathData);
        $(svgPath).remove();
        svgPath = null;

       if(polygonArea(svgPoly)>3000) {

            center = computeApproximateCenter(svgPoly);

            var toStore = {
                name : 'NewZone',
                type : 'micro',
                points : JSON.stringify(segPoints),
                center : JSON.stringify(center)
            };

            $.ajax({
                type: 'POST',
                url: 'http://' + document.domain + ':' + location.port + '/api/zone_micro',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(toStore),
                success: function (result) {
                    svgPoly.setAttribute("id", result.id);
                    svgPoly.setAttribute("class", "zone micro");
                    // Set events on the previously generated zones
                    initEvents();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(errorThrown);
                }
            })
        } // end if click not zone area > 3000
    }
}

function continueDrawClick(event)
{
    if(clicking == false) return;
    if (svgPath)
    {
        var touch = event;
        var pathData = svgPath.getAttribute("d");
        pathData = pathData + " L" + (touch.clientX-leftY) + "," + (touch.clientY-topY)
        svgPath.setAttribute("d", pathData);
    }

}

/* ----------------------------------------------------

    TOUCH function to be merge with click function

------------------------------------------------------*/

function startDrawTouch(event)
{

  topY=document.getElementById("svgCanvas").getClientRects()[0].top;
  leftY=document.getElementById("svgCanvas").getClientRects()[0].left;
  var touch =  event.changedTouches[0];

  svgPath =  createSvgElement("path");
  svgPath.setAttribute("fill", "none");
  svgPath.setAttribute("shape-rendering", "geometricPrecision");
  svgPath.setAttribute("stroke-linejoin", "round");
  svgPath.setAttribute("stroke-width","4");
  svgPath.setAttribute("stroke", "#fd0303");

  svgPath.setAttribute("d", "M" + (touch.clientX-leftY)  + "," + (touch.clientY-topY));
  svgCanvas.appendChild(svgPath);

}

function continueDrawTouch(event)
{
    console.log(event);
    if (svgPath)
    {
      var touch = event.changedTouches[0];
      var pathData = svgPath.getAttribute("d");
      pathData = pathData + " L" + (touch.clientX-leftY) + "," + (touch.clientY-topY);
      svgPath.setAttribute("d", pathData);

    }
}

function endDrawTouch(event)
{
    if (svgPath)
    {
      var pathData = svgPath.getAttribute("d");
      var touch = event.changedTouches[0];
      pathData = pathData + " L" + (touch.clientX-leftY) + "," + (touch.clientY-topY)

       var segList = svgPath.pathSegList;

        var segPoints = pathData.replace(/[ML]/g,'');

        var svgPoly = createSvgElement("polygon");

       svgPoly.setAttribute("points", segPoints);
       svgPoly.setAttribute("stroke", "#fd0303");
       svgPoly.setAttribute("fill", "none");
       svgPoly.setAttribute("stroke-width","4");

        console.log('shoelaceForumla', polygonArea(svgPoly));

        svgCanvas.appendChild(svgPoly);
        svgPath.setAttribute("d", pathData);
        $(svgPath).remove();
        svgPath = null;

       if(polygonArea(svgPoly)>3000) {

        center = computeApproximateCenter(svgPoly);

            var toStore = {
                name : 'New Zone',
                points : JSON.stringify(segPoints),
                center : JSON.stringify(center)
            };

            $.ajax({
                type: 'POST',
                url: 'http://' + document.domain + ':' + location.port + '/api/zone_micro',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(toStore),
                success: function (result) {
                    svgPoly.setAttribute("id", result.id);
                    svgPoly.setAttribute("class", "zone micro");
                    // Set events on the previously generated zones
                    initEvents();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(errorThrown);
                }
            });
        } // end if click not zone area > 3000

    }
}

//Shoelace formal for approxmimating a polygon area.
function polygonArea(poly) {
    var vertices = poly.points;
    var area = 0;
    for (var i = 0; i < vertices.length; i++) {
        j = (i + 1) % vertices.length;
        area += vertices[i].x * vertices[j].y;
        area -= vertices[j].x * vertices[i].y;
    }
    return Math.abs(area) / 2;
}


function computeApproximateCenter(svgPoly) {
       var bbox = svgPoly.getBBox();

        var centerx = Math.floor(bbox.x + bbox.width/2.0);
        var centery = Math.floor(bbox.y + bbox.height/2.0);

        console.log('poly center', centerx,centery);

        //adding the offsets for the plan
        var coord = {
             x : (centerx+leftY)+'px',
             y : (centery+topY)+'px'
        };

        return coord;
}

function createSvgElement(tagName)
{
        return document.createElementNS("http://www.w3.org/2000/svg", tagName);
}

/* *****************************************************************************
        Planning Swipe function
**********************************************************************************/
function startSwipePlanning(event) {
    var touch = event.originalEvent.changedTouches[0];
    swipeX = touch.clientX;
}

function swipePlanning(event) {
    var touch = event.originalEvent.changedTouches[0];
    var moveX = touch.clientX;
    //if swipe left
    if(swipeX>moveX) {
        //change to weekplan... at right
       console.log('move right');
        var urlName="{{ url_for('weekplan') }}";
       // alert(urlName);
        $('body').fadeOut(500,transition(urlName));


    } else {
        //change to prerequisitis.... at left
       console.log('move left');
        var urlName = "{{ url_for('prerequisits') }}";
        //alert(urlName);
        $('body').fadeOut(500,transition(urlName));
    }
}

function transition(urlName)    {
      window.location = urlName;
}
</script>
{% endblock %}
