{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/OpenLayers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/geolocalization.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="https://maps.google.com/maps/api/js?v=3"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <style>
        body {
            margin-top: 60px;
        }
        div.olMap {
            cursor: default;
            height: 550px;
            margin: 0 !important;
            padding: 0 !important;
            width: 100%;
            z-index: 0;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div id="mapdiv"></div>
        </div>
        <div class="col-md-2">
            <h4>Search</h4>
            <div class="form-group">
                <div class="form-group">
                    <select id="climateZoneSelect" name="climateZone" class="form-control" data-live-search="true">
                        <option value="" selected="selected">Climate zone</option>
                        {% for climate_zone in climate_zones %}
                            <option value="{{ climate_zone.name }}">{{ climate_zone.name | translate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select id="zoneSelect" name="zone" class="form-control" data-live-search="true">
                        <option value="" selected="selected">Zones</option>
                        {% for zone in zones %}
                            <option value="{{ zone.name }}">{{ zone.name | translate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select id="associatedDisasterSelect" name="associatedDisaster" class="form-control" data-live-search="true">
                        <option value="" selected="selected">Associated disaster</option>
                        {% for disaster in disasters %}
                            <option value="{{ disaster.name }}">{{ disaster.name | translate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select   id="materialSelect" name="material" class="form-control" data-live-search="true">
                        <option value="" selected="selected">Materials</option>
                    </select>
                </div>
                <div class="form-group">
                <a id="submit" class="btn btn-default">Submit</a>
                </div>
                <div id="searchresult"><div class="alert alert-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <span>Loading shelters...</span></div></div>
                <div id="message" class="alert alert-danger" role="alert" style="display: none;"></div>
            </div>
            <h4>Legend</h4>
        </div>
    </div>


    <div class="row">
        <div id="koppen-classification" class="col-md-10">
            <h4>K&ouml;ppen-Geiger classification</h4>
            <div class="row">
                <div class="col-md-1">
                    Class A
                </div>
                <div class="col-md-9">
                    <div class="rectangle Af" title="Af (Tropical rainforest)"></div>
                    <div class="rectangle Am" title="Am (Tropical monsoon)"></div>
                    <div class="rectangle As" title="As (Tropical savanna)"></div>
                    <div class="rectangle Aw" title="Aw (Tropical savanna)"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    Class B
                </div>
                <div class="col-md-9">
                    <div class="rectangle BWk" title="Bwk (Desert)"></div>
                    <div class="rectangle BWh" title="Bwh (Desert)"></div>
                    <div class="rectangle BSk" title="BSk (Semi-arid)"></div>
                    <div class="rectangle BSh" title="BSh (Semi-arid)"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    Class C
                </div>
                <div class="col-md-9">
                    <div class="rectangle Cfa" title="Cfa (Humid subtropical)"></div>
                    <div class="rectangle Cfb" title="Cfb (Oceanic)"></div>
                    <div class="rectangle Cfc" title="Cfc (Oceanic)"></div>
                    <div class="rectangle Csa" title="Csa (Mediterranean)"></div>
                    <div class="rectangle Csb" title="Csb (Mediterranean)"></div>
                    <div class="rectangle Csc" title="Csc (Mediterranean)"></div>
                    <div class="rectangle Cwa" title="Cwa (Humid subtropical)"></div>
                    <div class="rectangle Cwb" title="Cwb (Oceanic)"></div>
                    <div class="rectangle Cwc" title="Cwc (Oceanic)"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    Class D
                </div>
                <div class="col-md-9">
                    <div class="rectangle Dfa" title="Dfa (Humid continental)"></div>
                    <div class="rectangle Dfb" title="Dfb (Humid continental)"></div>
                    <div class="rectangle Dfc" title="Dfc (Subarctic)"></div>
                    <div class="rectangle Dfd" title="Dfd (Subarctic)"></div>
                    <div class="rectangle Dsa" title="Dsa (Humid continental)"></div>
                    <div class="rectangle Dsb" title="Dsb (Humid continental)"></div>
                    <div class="rectangle Dsc" title="Dsc (Subarctic)"></div>
                    <div class="rectangle Dsd" title="Dsd (Subarctic)"></div>
                    <div class="rectangle Dwa" title="Dwa (Humid continental)"></div>
                    <div class="rectangle Dwb" title="Dwb (Humid continental)"></div>
                    <div class="rectangle Dwc" title="Dwc (Subarctic)"></div>
                    <div class="rectangle Dwd" title="Dwd (Subarctic)"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    Class E
                </div>
                <div class="col-md-9">
                    <div class="rectangle EF" title="EF (Ice cap)"></div>
                    <div class="rectangle ET" title="ET (Tundra)"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p><a href="http://koeppen-geiger.vu-wien.ac.at/present.htm">details</a></p>
                </div>
            </div>
        </div>
        <div id="redcross-classification" class="col-md-10">
            <h4>Simplified classification</h4>
            <div class="rectangle coldHUMID" title="Cold humid"></div>
            <div class="rectangle coldDRY" title="Cold dry"></div>
            <div class="rectangle moderateHUMID" title="Moderate humid"></div>
            <div class="rectangle moderateDRY" title="Moderate dry"></div>
            <div class="rectangle hotHUMID" title="Hot humid"></div>
            <div class="rectangle hotDRY" title="Hot dry"></div>
        </div>
    </div>

<script type="text/javascript" class="source">

var geoserver_address = "http://shelter-database.org";
var api_url = "/shelter/shelters_for_map"

$(document).ready(function() {

$('#submit').click(function() {
    climateZone = $('#climateZoneSelect').val()
    zone = $('#zoneSelect').val()
    disaster = $('#associatedDisasterSelect').val()

    get_shelters(api_url + '?Climate zone=' + climateZone +
                            '&Zone=' + zone +
                            '&Associated disaster / Immediate cause=' + disaster);
});

create_map();
get_shelters(api_url);
})

</script>
</div><!-- /.container -->
{% endblock %}
