{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/OpenLayers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/geolocalization.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="https://maps.google.com/maps/api/js?v=3"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <style>
        body {
            margin-top: 60px;
        }
        div.olMap {
            cursor: default;
            height: 550px;
            margin: 0 !important;
            padding: 0 !important;
            width: 100%;
            z-index: 0;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div id="mapdiv"></div>
        </div>
        <div class="col-md-2">
            <h4>Search</h4>
            <div class="form-group">
                <div class="form-group">
                    <select id="climateZoneSelect" name="climateZone" class="form-control" data-live-search="true">
                        <option value="" selected="selected">Climate zone</option>
                        {% for climate_zone in climate_zones %}
                            <option value="{{ climate_zone.name }}">{{ climate_zone.name | translate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select id="zoneSelect" name="zone" class="form-control" data-live-search="true">
                        <option value="" selected="selected">Zones</option>
                        {% for zone in zones %}
                            <option value="{{ zone.name }}">{{ zone.name | translate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select id="associatedDisasterSelect" name="associatedDisaster" class="form-control" data-live-search="true">
                        <option value="" selected="selected">Associated disaster</option>
                        {% for disaster in disasters %}
                            <option value="{{ disaster.name }}">{{ disaster.name | translate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select   id="materialSelect" name="material" class="form-control" data-live-search="true">
                        <option value="" selected="selected">Materials</option>
                    </select>
                </div>
                <div class="form-group">
                <a id="submit" class="btn btn-default">Submit</a>
                </div>
                <div id="searchresult"><div class="alert alert-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <span>Loading shelters...</span></div></div>
                <div id="message" class="alert alert-danger" role="alert" style="display: none;"></div>
            </div>
            <h4>Legend</h4>
        </div>
    </div>


<script type="text/javascript" class="source">

var geoserver_address = "http://shelter-database.org";
var api_url = "/shelter/shelters_for_map"

$(document).ready(function() {

$('#submit').click(function() {
    climateZone = $('#climateZoneSelect').val()
    zone = $('#zoneSelect').val()
    disaster = $('#associatedDisasterSelect').val()

    get_shelters(api_url + '?Climate zone=' + climateZone +
                            '&Zone=' + zone +
                            '&Associated disaster / Immediate cause=' + disaster);
});

create_map();
get_shelters(api_url);
})

</script>
</div><!-- /.container -->
{% endblock %}
