<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="utf-8" />
            <meta name="description" content="The Shelter Database is a resource for the wider shelter sector, that can help to deliver humanitarian shelter." />
            <meta name="author" content="" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Shelters Database Management</title>

            <script src="{{ url_for('static', filename = 'lib/jquery/dist/jquery.min.js') }}"></script>

            <!-- Bootstrap core CSS -->
            <link href="{{ url_for('static', filename='lib/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" media="screen" />
            <link href="{{ url_for('static', filename='lib/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet" media="screen" />
            <link href="{{ url_for('static', filename='lib/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" media="screen" >

            <!-- Add custom CSS here -->
            <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" media="screen" />
            <link href="{{ url_for('static', filename='css/climate.css') }}" rel="stylesheet" media="screen" />
        </head>

        <body>
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a title="Shelter Database" href="">
                      <img src="{{ url_for('static', filename='img/Header_ShelterDB_v02.png') }}"
                        alt="Shelters Database" />
                  </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for("about") }}">About</a></li>
                        <li><a href="">Recommendations</a></li>
                        <li><a href="">Bibliography</a></li>
                        <li><a href="">Glossary of terms</a></li>
                        {% if g.user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <div><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New shelter</div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form id="createShelterForm" action="#" class="navbar-form  navbar-left" method="GET" name="save">
                                          <div class="input-group input-group-inline">
                                              <input class="form-control" name="name" type="text" placeholder="Name" required="required"/>
                                              <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-default" /><span class="glyphicon glyphicon-plus"></span></button>
                                              </span>
                                          </div><!-- /input-group -->
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <div><span class="glyphicon glyphicon-user"></span>&nbsp;{{ current_user.name }}<b class="caret"></b></div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;Profile</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;Your data</a></li>
                                    {% if current_user.is_admin %}
                                        <li role="presentation" class="divider"></li>
                                        <li><a href="{{ url_for("dashboard") }}"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Dashboard</a></li>
                                        <li role="presentation" class="divider"></li>
                                    {% endif %}
                                    <li><a href="{{ url_for("logout") }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="">Join</a></li>
                        {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>

    <br />

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    {% block content %}{% endblock %}

    <footer>
        <div class="container-fluid">
            <div class="footer">
                <hr class="footer" />
                <div class="row">
                    <div class="col-md-12">
                        <p>
                        Designed by the <a href="http://ifrc-sru.org" target="_blank">Shelter Research Unit</a>, an initiative of the Benelux Red Cross Societies.
                        Implemented by the <a href="http://www.list.lu" target="_blank">Luxembourg Institute of Science and Technology</a>.
                        <br />
                        List of all <a href="/contributors">contributors</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename = 'lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/placeholders/dist/placeholders.jquery.min.js') }}"></script>
    <script>
    $(document).ready(function() {
        $('ul.navbar-right > li.dropdown').show();

        //Attach a submit handler to the form
        $( "#createShelterForm" ).submit(function( event ) {
            // Stop form from submitting normally
            event.preventDefault();

            // Get some values from elements on the page:
            var $form = $(this);
            var values = {};
            form_complete = true;
            $.each($form.serializeArray(), function(i, field) {
                if (field.value == '') {
                    form_complete = false;
                }
                values[field.name] = field.value;
            });
            url = $form.attr("action");

            if (form_complete) {
                // Send the data using post
                console.log(values)

                new_shelter = {
                                    "user_id": 1
                                }
                $.ajax({
                    type: 'POST',
                    url: 'http://' + document.domain + ':' + location.port + '/api/shelter',
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(new_shelter),
                    success: function (result) {
                        console.log(result);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown){
                        console.log(errorThrown);
                    }
                });



            } else {
                alert("Please fill all the fields of the form.");
            }
        });
    });
    </script>
  </body>
</html>
