<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="description" content="The Shelter Database is a resource for the wider shelter sector, that can help to deliver humanitarian shelter." />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shelters Database Management</title>

        <script src="{{ url_for('static', filename = 'lib/jquery/dist/jquery.min.js') }}"></script>


        <script src="{{ url_for('static', filename = 'lib/dc/d3.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/dc/crossfilter.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/dc/colorbrewer.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/dc/dc.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/leaflet/leaflet.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/leaflet/leaflet.markercluster.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/leaflet/dc.leaflet.js') }}"></script>

        <script src="{{ url_for('static', filename = 'js/create-shelter.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/countries.js') }}"></script>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='lib/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" media="screen" />
        <link href="{{ url_for('static', filename='lib/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet" media="screen" />

        <!--leaflet -->

        <link href="{{ url_for('static', filename='lib/leaflet/MarkerCluster.Default.css') }}" rel="stylesheet" media="screen" />

        <link href="{{ url_for('static', filename='lib/leaflet/leaflet.css') }}" rel="stylesheet" media="screen" />
        <linl href="{{ url_for('static', filename='lib/leaflet/MarkerCluster.css') }}" rel="stylesheet" media="screen" />

        <!-- DC.js  -->
        <link href="{{ url_for('static', filename='lib/dc/dc.css') }}" rel="stylesheet" media="screen" />

        <!-- Add custom CSS here -->

        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" media="screen" />
        <link href="{{ url_for('static', filename='css/climate.css') }}" rel="stylesheet" media="screen" />

        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a title="Shelter Database" href="{{ url_for('index') }}">
                      <img src="{{ url_for('static', filename='img/Header_ShelterDB_v02.png') }}"
                        alt="Shelters Database" />
                  </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('recommendations', page_name='About') }}">About</a></li>
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('shelters') }}">Shelters</a></li>
                        <li><a href="{{ url_for('recommendations', page_name='Recommendations') }}">Recommendations</a></li>
                        <li><a href="{{ url_for('recommendations', page_name='Bibliography') }}">Bibliography</a></li>
                        <li><a href="{{ url_for('recommendations', page_name='Glossary') }}">Glossary</a></li>
                        {% if g.user.is_authenticated %}
                            <li class="dropdown">
                                <a id="newShelter" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <div><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New shelter</div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form id="createShelterForm" action="#" class="navbar-form navbar-left" method="GET" name="save">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Name" required="required"></input>
                                            </div>
                                            <br /><br />
                                            <div class="form-group">
                                                <select id="countrySelect" name="country" class="form-control" data-live-search="true"></select>
                                            </div>
                                            <br /><br />
                                            <div class="form-group">
                                                <button type="submit" id="createShelter" class="btn btn-default form-control" value="Create">Create</button>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <div><span class="glyphicon glyphicon-user"></span>&nbsp;{{ current_user.name }}<b class="caret"></b></div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('user_bp.profile') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;Profile</a></li>
                                    <li><a href="{{ url_for('user_bp.shelters') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;Your shelters</a></li>
                                    {% if current_user.is_admin %}
                                        <li role="presentation" class="divider"></li>
                                        <li><a href="{{ url_for('administration.dashboard') }}">Dashboard</a></li>
                                        <li><a href="{{ url_for('administration.shelters') }}">Shelters</a></li>
                                        <li><a href="{{ url_for('administration.users') }}">Users</a></li>
                                        <li><a href="{{ url_for('administration.pages') }}">Edit pages</a></li>
                                        <li><a href="{{ url_for('administration.attributes') }}">Attributes</a></li>
                                        <li><a href="{{ url_for('admin.index') }}">Data management</a></li>
                                        <li role="presentation" class="divider"></li>
                                    {% endif %}
                                    <li><a href="{{ url_for("logout") }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ url_for('join') }}">Join</a></li>
                        {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>

        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        {% block content %}{% endblock %}

        <footer>
            <div class="container-fluid">
                <div class="footer">
                    <hr class="footer" />
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                            Designed by the <a href="http://ifrc-sru.org">Shelter Research Unit</a>, an initiative of the Benelux Red Cross Societies.
                            Implemented by the <a href="http://www.list.lu">Luxembourg Institute of Science and Technology</a>.
                            <br />
                            List of all <a href="{{ url_for('contributors') }}">contributors</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static', filename = 'lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
        <script>
        $(document).ready(function() {
            $('ul.navbar-right > li.dropdown').show();

            $("#newShelter").click(function(evt) {
                var filters = [{"name":"name","op":"eq","val":"Country"}];
                $.ajax({
                    type: 'GET',
                    url: '/api/attribute',
                    contentType: "application/json",
                    dataType: "json",
                    data: {"q": JSON.stringify({"filters": filters})},
                    success: function(result) {
                        result.objects[0].associated_values.map(function(country) {
                            $("#countrySelect").append(new Option(country.name, country.id));
                        })
                        $('.selectpicker').selectpicker({style: 'btn-default',
                            size: false});
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown){
                        //alert(errorThrown);
                    }
                }) ;
            });

            //Attach a submit handler to the form
            $( "#createShelterForm" ).submit(function( event ) {
                // Stop form from submitting normally
                event.preventDefault();
                // Get some values from elements on the page:
                var $form = $(this);
                var values = {};
                form_complete = true;
                $.each($form.serializeArray(), function(i, field) {
                    if (field.value == '') {
                        form_complete = false;
                    }
                    values[field.name] = field.value;
                });
                url = $form.attr("action");

                if (form_complete) {
                    // Send the data using post
                    name_of_shelter = values["name"]
                    country_value_id = values["country"];
                    country_name = $('#countrySelect option:selected').text()
                    create_shelter(name_of_shelter, country_value_id, country_name);
                } else {
                    alert("Please fill all the fields of the form.");
                }
            });
        });
        </script>
    </body>
</html>
