{% extends "layout.html" %}
{% block header %}
    <div id="headband" class="header imag" >
        <img id="imagTitle" src="{{ url_for('static', filename = 'img/Bandeau_75p.png') }}" onclick="window.location.href = '{{ url_for('mobilestart') }}'"/>
    </div>
{% endblock %}
{% block content %}
    <div align="center">
        <form id="login-form form-horizontal" action="{{ url_for('login') }}" method="POST" role="form">
            {{ loginForm.hidden_tag() }}

            <div class="form-group">
                {{ loginForm.email(placeholder="Your email address") }}
                {% for message in loginForm.email.errors %}
                    <div><b>{{ message }}</b></div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ loginForm.password(placeholder="Your password") }}
                {% for message in loginForm.password.errors %}
                    <div><b>{{ message }}</b></div>
                {% endfor %}
            </div>
            {{ loginForm.submit(class_="clickButton") }}
        </form>
    </div>
</div><!-- /.container -->
<script>
$(function() {
    //JqueryUI call for styling and changing button behavior.
    $('.clickButton').button();
    $("input:text").addClass("ui-corner-all");
});
</script>
{% endblock %}
