body {
    margin-top: 60px;
    background-color: #ffffff;
}

hr {
    border-color: grey;
}

hr.footer {
    border-color: #CC0000;
}

hr.legend {
    padding: 0px;
    margin: 0px;
    border-width: inherit;
    border-color: inherit;
}

div.top {
    position: relative;
    top: -60px;
    display: block;
    height: 0;
}

ul.affix {
    position: fixed;
    top: 0px;
}

ul.affix-top {
    position: static;
}

ul.affix-bottom {
    position: absolute;
}

.thumbShelterPicture { 
width: 200px;
height: 200px;
overflow: hidden;
}
.thumbShelterPicture img { 
    width: 100%;
}

/* Links */
a:visited {
    color: #CC0000 !important;
}

a:active {
    color: #CC0000 !important;
}

a {
    color: #CC0000 !important;
}
/* End of links */

/* navbar */
ul.nav li a, ul.nav li a:visited {
    color: #ffffff !important;
}

ul.nav li a:active {
    color: #ffffff !important;
}

ul.nav li a:hover {
    color: #000000 !important;
}

ul.nav li.active a {
    color: #ffffff !important;
    background-color: #CC0000;
}

a.navbar-brand {
    color: #ffffff !important;
}

.navbar-default {
    background-color: #CC0000;
    border-color: #CC0000;
    font-weight: bold;
}

ul.dropdown-menu li a, ul.dropdown-menu li a:visited {
    color: #CC0000 !important;
}

ul.dropdown-menu li a:hover, ul.dropdown-menu li a:active {
    color: #CC0000 !important;
    background-color: #CC0000;
    color: #ffffff;
}

ul.dropdown-menu li.active a, ul.dropdown-menu li a:hover {
    color: #ffffff !important;
}
/* end nav bar */

/* navb-tabs */
ul.nav-tabs li a, ul.nav-tabs li a:visited {
    color: #CC0000 !important;
}

ul.nav-tabs li a:hover, ul.nav-tabs li a:active {
    color: #CC0000 !important;
}

ul.nav-tabs li.active a {
    background-color: #e6e6fa !important;
}

/* end nav-tabs */
.section-title, .page-title {
    color: #CC0000;
}

legend.border {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
    /*font-size: medium;*/
}

.block {
    padding: 20px;
}

.panel {
    background-color: red;
}

.maplegend {
    padding: 10px;
    overflow: auto;
    margin-top: 0px;
    /*padding:15px;*/
    /*padding-top:0px;*/
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 7px 7px 5px #888888;
    text-align: justify;
}