.stats {
  display: inline-block;
}

.stats .table {
   font-size: smaller;
}

.stats h5 {
  margin-top:20px;
}
.leaflet-container a {
  margin-left:0px !important;
}

.dc-chart text {
      fill: black !important;
 }


.resetAll-btn {
  font-size: 0.9em;
  margin-top: 15px;
 }

 .resetAll-href {
    color: #999;
 }