.stats {
  display: inline-block;
}

.stats [class*="col-"]{
    text-align: center;
}
.stats .table {
   font-size: smaller;
}

.stats h5 {
  margin-top:20px;
  text-align: left;
}

.leaflet-container a {
  margin-left:0px !important;
}

.dc-chart {
    float: none !important;
 }

.dc-table-row {
    font-size:small;
}

.dc-chart text {
      fill: black !important;
 }

 #chart-timeline .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
 }

 .data-options {
    margin-top:15px;
    margin-bottom:15px;
 }

.menu-btn {
  font-size: 0.9em;
  margin-top: 15px;
 }

 .menu-href {
    color: #333;
 }

 .minValue {
    padding-left:1em
 }

.advanced-content .button {
    margin-top:5px !important;
}

.slider-handle {
    width:  5px !important;
    height: 20px !important;
    margin-left: -2px !important;
}
.slider-horizontal {
    width: 100px !important;
}


@media only screen and (max-width: 767px) {
    #tabs [class*="col-"]{
        padding-left: 0px;
        padding-right: 0px;
    }
}