<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="robots" content="noindex, nofollow">

    <title>Shelter 1</title>

    <meta name="description" content="">

    <link type='text/css' rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,400,300,700'>
    <link type="text/css" rel="stylesheet" href="vendor/font-awesome-4.6.3/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendor/bootstrap-3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">

</head>
<body class="">
    <header>
        <nav>
            <a class="home" href="index.html"><i class="fa fa-plus-square"></i><span class="text">Shelter Database</span></a>
            <ul>
                <li><a href="search.html" class="selected">Shelters</a></li>
                <li><a href="contribute.html">Contribute</a></li>
                <li><a href="#">Knowledge Base</a></li>
            </ul>
        </nav>
    </header>
    <main class="page">
        <section class="shelterheader">
            <div class="content">
                <h1>Cordaid, TS Urban</h1>
            </div>
        </section>
        <section class="shelterimg" style="background-image: url('img/shelter.jpg')">
            <div class="dots">
                <div class="dot selected"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </section>
        <section class="details">
            <div class="content">
                <table>
                    <tr>
                        <th>ID</th>
                        <td>HT004</td>
                    </tr>
                    <tr>
                        <th>Name of Shelter</th>
                        <td>Cordaid, TS Urban</td>
                    </tr>
                    <tr>
                        <th>Survey date</th>
                        <td>9/23/2014</td>
                    </tr>
                    <tr>
                        <th>Zone</th>
                        <td>Americas & Caribbean</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>Haiti</td>
                    </tr>
                    <tr>
                        <th>Province / District / Region</th>
                        <td>West Department</td>
                    </tr>
                    <tr>
                        <th>City / Village</th>
                        <td>Ste Marie, Port au Prince</td>
                    </tr>
                    <tr>
                        <th>Climate zone</th>
                        <td>Moist tropical</td>
                    </tr>
                    <tr>
                        <th>Landform</th>
                        <td>Hills</td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="details details-2">
            <div class="content">
                <h3>Site</h3>

                <div class="options">
                    <div class="option" style="background-image: url('img/site/1.png')"></div>
                    <div class="option selected" style="background-image: url('img/site/2.png')"></div>
                    <div class="option" style="background-image: url('img/site/3.png')"></div>
                    <div class="option" style="background-image: url('img/site/4.png')"></div>
                    <div class="option" style="background-image: url('img/site/5.png')"></div>
                    <div class="option" style="background-image: url('img/site/6.png')"></div>
                    <div class="option" style="background-image: url('img/site/7.png')"></div>
                    <div class="option" style="background-image: url('img/site/8.png')"></div>
                </div>

            </div>
        </section>
        <footer>
            &copy; Copyright 2016
        </footer>
    </main>

<!--
 -->

    <script type="text/javascript">
        var modalOpen = function(){
            document.body.className = "modal-open"
        }
        var modalClose = function(){
            document.body.className = ""
        }
    </script>
</body>
</html>
