{% extends "layout.html" %}

{% block wrapper_start %}
<div id="wrapper">
{% endblock %}

{% block content %}
        <section class="contribute-image" style="background-image: url('{{ url_for('static', filename='img/contribute.jpg') }}')">
        </section>
        <section class="contribute">
            <div class="content">
                <h1>Share your shelter design openly</h1>
                <p>Contribute to the Open Shelter Database by sharing your shelter design as open data.<br />Other people will be able to find your shelter and use it for humanitarian sheltering.</p>
				{% if g.user.is_authenticated %}
                <a id="newShelter" onclick="modalOpen('create')" class="bt button button-red button-large"><i class="icon icon-plus"></i><span class="text">add your shelter now</span></a>
				{% else %}
				    <a href="{{ url_for('join') }}" class="bt button button-red"><i class="fa fa-user"></i><span class="text">Please login to add your shelter</span></a>
				{% endif %}
            </div>
        </section>
        <section class="" style="background-color:#ecf0f1;">
            <div class="content">
                <h3>Why add your shelter</h3>
                <div class="flexbox">
                    <div class="box">
                        <i class="head fa fa-bank"></i>
                        <h4>Share knowledge</h4>
                        <p>The Open Shelter Database provides you with the opportunity to share the design of your shelter solution in an open platform where worldwide experiences are gathered and organised to support humanitarian sheltering actors in the design of more efficient and effective interventions.</p>
                    </div>
                    <div class="box">
                        <i class="head fa fa-heartbeat"></i>
                        <h4>Help building resilient communities</h4>
                        <p>Adding your project will make critical technical information freely accessible worldwide. It will support agencies and even affected communities themselves in building back better, therefore enhancing the resilience of disaster-hit communities. </p>
                    </div>
                </div>
            </div>
        </section>

    
{% endblock %}

{% block footer %}
{{ super() }}

<div class="mymodal" id="create">
        <div class="content page1" id="modalcontent">
            <div class="page page1">
				<p class="step">Step 1 of 7</p>
			    <form class="myform" id="createShelterForm" action="#" method="GET" name="save">
					<div class="mygroup">
						<div class="mylabel">Title of your project:</div>
						<div class="myinput"><input name="titleofproject" data-validation="length" data-validation-length="min4" data-validation-error-msg="Please give a title of minimum 4 characters" id="titleofproject" type="text" placeholder="Name" /></div>
					</div>

					<div class="mygroup">
						<div class="mylabel">Country:</div>
						<label for="countrySelect" class="button button-drop">
							<select id="countrySelect" data-validation="required" name="country" data-live-search="true" ></select>
						</label>
					</div>
                                                
					<div class="buttons">
						<div onclick="modalClose()" class="button button-light"><i class="fa fa-times"></i><span class="text">Cancel</span></div>
						<!--<button type="submit" id="createShelter" class="btn btn-default form-control" value="Create">Create</button>	-->			                   
					        <input id="createShelter" value="Next" type="submit" class="button button-light button-right">
                                                <!--<div id="createShelter" class="button button-light button-right"><i class="fa icon-right-big"></i><span class="text">Next</span></div>-->
					</div>
				</form>
            </div>
			<div class="page page2">
				<p class="step">Step 2 of 7</p>
				<form class="myform" id="organizationsForm">
					<div class="mygroup">
						<div class="mylabel">Who is the implementing organization?</div>
						<select class="organizations" id="organizations" data-validation="required" property-id="" attribute-id="16" category-id="4" value-id="None" value="">
							<option value="{{g.user.organization}}" selected="selected">{{g.user.organization}}</option>
						</select>
					</div>
					<div class="buttons">
						<div onclick="modalClose()" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Cancel</span></div>
						<input value="Next" type="submit" class="button button-light button-right">
					</div>
				</form>
            </div>
            <div class="page page3">
				<p class="step">Step 3 of 7</p>
				<form class="myform" id="yearLocationForm">
					<div class="mygroup">
						<div class="mylabel">What is the year of construction of the first shelters?</div>
						<div class="myinput"><input type="number" name="yearofconstructionfirstshelters" data-validation="number" data-validation-error-msg="This field is required. Please enter the year, numbers only." data-validation-allowing="range[1970;2030]" id="yearofconstructionfirstshelters" class="free-text-attribute" property-id="" attribute-id="36" category-id="8" value-id="None" value="" placeholder="2016"></div>
					</div>
					<div class="mylabel">Where is the shelter located?</div>
					<div id="locationpicker" style="width:100%; height:250px;">
						<input type="hidden" id="latitude" name="lattitude" class="free-text-attribute" property-id="" attribute-id="8" category-id="2" value-id="None" value="">
						<input type="hidden" id="longitude" name="longitude" class="free-text-attribute" property-id="" attribute-id="9" category-id="2" value-id="None" value="">
					</div>
			
					<div class="buttons">
						<div onclick="modalClose()" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Cancel</span></div>
						<div onclick="modalPrev()" class="button button-light button-left"><i class="fa icon-left-big"></i><span class="text">Previous</span></div>
						<input value="Next" type="submit" class="button button-light button-right">	
                                        </div>
				</form>
            </div>
			<div class="page page4">
				<p class="step">Step 4 of 7</p>
				<form class="myform" id="disasters">
					<div class="mygroup">			
						<div class="mylabel">What type of disaster is the shelter associated with?</div>
						<label for="associatedDisasterSelect" class="button button-drop">
							<select id="associatedDisasterSelect" name="associateddisaster" data-validation="required" class="select-attribute" property-id="" attribute-id="13" category-id="4" data-live-search="true">
								  <option value=""></option>
							</select>
						</label>
					</div>
					
					<div class="mygroup">
						<div class="mylabel">What type of humanitarian response is it?</div>
						<label for="shelterTypeSelect" class="button button-drop button-no-border">
							<select id="shelterTypeSelect" data-validation="required" class="select-attribute" property-id="" attribute-id="21" category-id="4">
							</select>
						</label>
					</div>

					<div class="buttons">
						<div onclick="modalClose()" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Cancel</span></div>
						<div onclick="modalPrev()" class="button button-light button-left"><i class="fa icon-left-big"></i><span class="text">Previous</span></div>
						<input value="Next" type="submit" class="button button-light button-right">
                                        </div>
				</form>
            </div>         
			<div class="page page5">
				<p class="step">Step 5 of 7</p>
				<form class="myform" id="photos">
					<div class="mygroup">
						<div class="mylabel">Upload photos of the shelter</div>
						<p>The first photo you upload will be the main picture displayed in all overviews. Please pick a high quality overview photo.</p>
						<div id="uploader">
						   <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
						   <div class="fallback">
							   <input id="files" multiple="true" name="files" type="file"
									  data-validation="length mime size required"
									  data-validation-length="min1"
									  data-validation-allowing="jpg, png, gif"
									  data-validation-max-size="4000kb"
									  data-validation-error-msg-size="You can not upload images larger than 4000kb"
									  data-validation-error-msg-mime="You can only upload images"
									  data-validation-error-msg-length="You have to upload at least one images"
									  data-validation-error-msg-required="You have to upload at least one images">
							</div>
						</div>
                                                <span class="help-block form-error">You have to upload at least one image. Maximum size is 4 Mb, only of type jpg, png or gif. A cross (X) means the upload failed. A checkmark (V) means the upload succeeded.</span>
					</div>
				
					<div class="buttons">
						<div onclick="modalClose()" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Cancel</span></div>
						<div onclick="modalPrev()" class="button button-light button-left"><i class="fa icon-left-big"></i><span class="text">Previous</span></div>
						<input id="photosForm" value="Next" type="submit" disabled class="button buddon-disabled button-light button-right">
                                        </div>
                </form>
            </div>
			<div class="page page6">
				<p class="step">Step 6 of 7</p>
				<form class="myform" id="specs">
					<div class="mygroup">
						<div class="mylabel">What is the unit cost of the shelter (USD)?</div>
						<div class="myinput"><input type="number" data-validation="required"  data-validation-error-msg="This field is required. Numbers only." class="free-text-attribute" id="unitCost" property-id="" attribute-id="49" category-id="8" value-id="None" value=""></div>
					</div>
					
					<div class="mygroup">
						<div class="mylabel">What is the number of inhabitants of the shelter?</div>
						<div class="myinput"><input type="number" data-validation="required" data-validation-error-msg="This field is required. Numbers only, maximum 200." min="1" max="200" class="free-text-attribute" id="inhabitants" property-id="" attribute-id="37" category-id="8" value-id="None" value=""></div>
					</div>
					
					<div class="mygroup">
						<div class="mylabel">What is the total surface area in square meters (m2)?</div>					
						<div class="myinput"><input type="number" data-validation="required" data-validation-error-msg="This field is required. Numbers only." class="free-text-attribute" id="surface" property-id="" attribute-id="45" category-id="8" value-id="None" value=""></div>
					</div>
					
					<div class="mygroup">
                                            <div class="mylabel">Terms</div>
                                            <div><input type="checkbox" data-validation="required" data-validation-error-msg="You have to agree to our terms" /><labe for="terms"> Accept the <a href="/termsofservice" target="_blank">terms of service</a></label></div>
                                         </div>
					<div class="buttons">
						<div onclick="modalPrev()" class="button button-light button-left"><i class="fa icon-left-big"></i><span class="text">Previous</span></div>
						<input value="Next" type="submit" class="button button-light button-right">
                                        </div>
				</form>
            </div>
			
            <div class="page page7">
				<p class="step">Step 7 of 7</p>
                <p id="thankyou">Thank you for entering your shelter in the shelter database. Your shelter will be visible in the database after a short review by the administrator.
                We kindly request you to add additional data about your shelter, such as technical documentation and drawings, and different attributes. You can start to add more details about your shelter by clicking the button below, or by clicking on your name on the top right and choose 'your shelters'.
                </p>
                <div class="buttons">
                        <div onclick="modalClose()" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Close</span></div>
					   <div id="editlink" class="button button-light button-right"><i class=""></i><span class="text">Add more details</span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block wrapper_end %}
</div>
{% endblock %}

{% block defer %}
	{{ super() }}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.54/jquery.form-validator.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.7.1/leaflet-geocoder-mapzen.min.js"></script>	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
	
	{% assets filters="jsmin", output="assets/packaged-contribute.js",
            "lib/npm_components/leaflet-geosearch/dist/bundle.min.js", 
            "lib/npm_components/leaflet-label/dist/leaflet.label.js",
            "lib/npm_components/leaflet-image/leaflet-image.js",
            "lib/custom/tooltip/tooltip.js",
            "lib/custom/jquery-glossarize/jquery.glossarize.js",		  
            "js/countries.js",
            "js/create-shelter.js",
            "js/contribute.js"
	%}
		<script type="text/javascript" src="{{ASSET_URL}}" defer></script>
	{% endassets %}
{% endblock %}
