{% extends "layout.html" %}
{% block wrapper_start %}
<div id="wrapper">
{% endblock %}

{% block content %}
        <section class="contribute">
            <div class="content">
                <h1>Add your project</h1>
                <p>The Shelter Database exists because of people like you!<br />We need you to help us build the content</p>
				{% if g.user.is_authenticated %}
                <a id="newShelter" onclick="modalOpen('create')" class="bt button button-red"><i class="fa fa-plus"></i><span class="text">Add Project</span></a>
				{% else %}
				    <a href="{{ url_for('join') }}" class="bt button button-red"><i class="fa fa-user"></i><span class="text">Please login to add your project</span></a>
				{% endif %}
            </div>
        </section>
        <section class="" style="background-color:#ecf0f1;">
            <div class="content">
                <h3>Why add a project</h3>
                <div class="flexbox">
                    <div class="box">
                        <i class="head fa fa-bank"></i>
                        <h4>Share knowledge</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="box">
                        <i class="head fa fa-heartbeat"></i>
                        <h4>Save lives</h4>
                        <p>Adding your project will save lives. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </section>

    
{% endblock %}

{% block footer %}
{{ super() }}

<div class="mymodal" id="create">
        <div class="content page1" id="modalcontent">
            <div class="page page1">
			    <form class="myform" id="createShelterForm" action="#" method="GET" name="save">
					<div class="mygroup">
						<div class="mylabel">Title of your project:</div>
						<div class="myinput"><input name="titleofproject" data-validation="length" data-validation-length="min4" data-validation-error-msg="Please give a title of minimum 4 characters" id="titleofproject" type="text" placeholder="Name" /></div>
					</div>

					<div class="mygroup">
						<div class="mylabel">Country:</div>
						<label for="countrySelect" class="button button-drop">
							<select id="countrySelect" data-validation="required" name="country" data-live-search="true" ></select>
						</label>
					</div>
                
					<!-- <a href="" class="button button-light button-drop button-stretch">Select</a> -->
					<div class="buttons">
						<div onclick="modalClose()" class="button button-light"><i class="fa fa-times"></i><span class="text">Cancel</span></div>
						<!--<button type="submit" id="createShelter" class="btn btn-default form-control" value="Create">Create</button>	-->			                   
					   <div id="createShelter" class="button button-light button-right"><i class="fa icon-right-big"></i><span class="text">Next</span></div>
					</div>
				</form>
            </div>
			<div class="page page2">
				<form class="myform" id="organizationsForm">
					<div class="mygroup">
						<div class="mylabel">Who is the implementing organization?</div>
						<select class="organizations" id="organizations" data-validation="required" property-id="" attribute-id="16" category-id="4" value-id="None" value="">
						</select>
					</div>
					<div class="buttons">
						<div onclick="modalClose()" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Cancel</span></div>
						<div onclick="modalNext('#organizationsForm')" class="button button-light button-right"><i class="fa icon-right-big"></i><span class="text">Next</span></div>
					</div>
				</form>
            </div>
            <div class="page page3">
				<form class="myform" id="yearLocationForm">
					<div class="mygroup">
						<div class="mylabel">What is the year of construction of the first shelters?</div>
						<div class="myinput"><input type="number" name="yearofconstructionfirstshelters" data-validation="number" data-validation-allowing="range[1970;2030]" id="yearofconstructionfirstshelters" class="free-text-attribute" property-id="" attribute-id="36" category-id="8" value-id="None" value="" placeholder="2016"></div>
					</div>
					<div class="mylabel">Where is the shelter located?</div>
					<div id="locationpicker" style="width:100%; height:250px;">
						<input type="hidden" id="latitude" name="lattitude" class="free-text-attribute" property-id="" attribute-id="8" category-id="2" value-id="None" value="">
						<input type="hidden" id="longitude" name="longitude" class="free-text-attribute" property-id="" attribute-id="9" category-id="2" value-id="None" value="">
					</div>
			
					<div class="buttons">
						<div onclick="modalClose()" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Cancel</span></div>
						<div onclick="modalPrev()" class="button button-light button-left"><i class="fa icon-left-big"></i><span class="text">Previous</span></div>
						<div onclick="modalNext('#yearLocationForm')" class="button button-light button-right"><i class="fa icon-right-big"></i><span class="text">Next</span></div>
					</div>
				</form>
            </div>
			<div class="page page4">
				<form class="myform" id="disasters">
					<div class="mygroup">			
						<div class="mylabel">What type of disaster is the shelter associated with?</div>
						<label for="associatedDisasterSelect" class="button button-drop">
							<select id="associatedDisasterSelect" name="associateddisaster" data-validation="required" class="select-attribute" property-id="" attribute-id="13" category-id="4" data-live-search="true">
								  <option value=""></option>
							</select>
						</label>
					</div>
					
					<div class="mygroup">
						<div class="mylabel">What type of humanitarian response is it?</div>
						<label for="shelterTypeSelect" class="button button-drop">
							<select id="shelterTypeSelect" data-validation="required" class="select-attribute" property-id="" attribute-id="21" category-id="4">
								  <option value=""></option>
							</select>
						</label>
					</div>

					<div class="buttons">
						<div onclick="modalClose()" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Cancel</span></div>
						<div onclick="modalPrev()" class="button button-light button-left"><i class="fa icon-left-big"></i><span class="text">Previous</span></div>
						<div onclick="modalNext('#disasters')" class="button button-light button-right"><i class="fa icon-right-big"></i><span class="text">Next</span></div>
					</div>
				</form>
            </div>
			<!--
            <div class="page page3">
                <div class="mylabel">Location of the Site:</div>
                <div class="options">
                    <div class="option" onclick="optClick(0)" style="background-image: url('{{ url_for('static', filename='img/site/1.png') }}')"></div>
                    <div class="option" onclick="optClick(1)" style="background-image: url('{{ url_for('static', filename='img/site/2.png') }}')"></div>
                    <div class="option" onclick="optClick(2)" style="background-image: url('{{ url_for('static', filename='img/site/3.png') }}')"></div>
                    <div class="option" onclick="optClick(3)" style="background-image: url('{{ url_for('static', filename='img/site/4.png') }}')"></div>
                    <div class="option" onclick="optClick(4)" style="background-image: url('{{ url_for('static', filename='img/site/5.png') }}')"></div>
                    <div class="option" onclick="optClick(5)" style="background-image: url('{{ url_for('static', filename='img/site/6.png') }}')"></div>
                    <div class="option" onclick="optClick(6)" style="background-image: url('{{ url_for('static', filename='img/site/7.png') }}')"></div>
                    <div class="option" onclick="optClick(7)" style="background-image: url('{{ url_for('static', filename='img/site/8.png') }}')"></div>
                </div>

                <div class="buttons">
                    <div onclick="modalClose()" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Cancel</span></div>
                    <div onclick="modalNext()" class="button button-light right"><i class="fa icon-right-big"></i><span class="text">Next</span></div>
                </div>
            </div>
			-->            
			<div class="page page5">
				<form class="myform" id="photos">
					<div class="mygroup">
						<div class="mylabel">Upload photos of the shelter</div>
						<div id="uploader">
						   <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
						   <div class="fallback">
							   <input id="files" multiple="true" name="files" type="file"
									  data-validation="length mime size"
									  data-validation-length="min1"
									  data-validation-allowing="jpg, png, gif"
									  data-validation-max-size="4000kb"
									  data-validation-error-msg-size="You can not upload images larger than 4000kb"
									  data-validation-error-msg-mime="You can only upload images"
									  data-validation-error-msg-length="You have to upload at least one images">
							</div>
						</div>
					</div>
				
					<div class="buttons">
						<div onclick="modalClose()" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Cancel</span></div>
						<div onclick="modalPrev()" class="button button-light button-left"><i class="fa icon-left-big"></i><span class="text">Previous</span></div>
						<div onclick="modalNext('#photos')" class="button button-light button-right"><i class="fa icon-right-big"></i><span class="text">Next</span></div>
					</div>
                </form>
            </div>
			<div class="page page6">
				<form class="myform" id="specs">
					<div class="mygroup">
						<div class="mylabel">What is the unit cost of the shelter (USD)?</div>
						<div class="myinput"><input type="number" data-validation="required"  class="free-text-attribute" id="unitCost" property-id="" attribute-id="49" category-id="8" value-id="None" value=""></div>
					</div>
					
					<div class="mygroup">
						<div class="mylabel">What is the number of inhabitants of the shelter?</div>
						<div class="myinput"><input type="number" data-validation="required" min="1" max="200" class="free-text-attribute" id="inhabitants" property-id="" attribute-id="37" category-id="8" value-id="None" value=""></div>
					</div>
					
					<div class="mygroup">
						<div class="mylabel">What is the total surface area in square meters (m2)?</div>					
						<div class="myinput"><input type="number" data-validation="required" class="free-text-attribute" id="surface" property-id="" attribute-id="45" category-id="8" value-id="None" value=""></div>
					</div>
					
					<div class="mygroup">
                            <div class="mylabel">Terms</div>
                            <div class="mycheckbox"><input type="checkbox" id="field8507618" data-validation="required"><label class="checkbox" for="field8507618"><i class="fa icon-cancel"></i> Accept the <a href="/termsofservice" target="_blank">terms of service</a></label></div>
                    </div>
					<div class="buttons">
						<div onclick="modalPrev()" class="button button-light button-left"><i class="fa icon-left-big"></i><span class="text">Previous</span></div>
						<div onclick="modalNext('#specs')" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Finish</span></div>
					</div>
				</form>
            </div>
			
			<div class="page page7">
				<p id="thankyou">Thank you for entering your shelter in the shelter database. Your shelter will be visible in the database after a short review by the administrator.
				We kindly request you to add additional data about your shelter, such as technical documentation and drawings, and different attributes. You can start <span id="editlink"></span> to add more details about your shelter.
				</p>
				<div class="buttons">
                    <div onclick="modalClose()" class="button button-light"><i class="fa icon-cancel"></i><span class="text">Close</span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block wrapper_end %}
</div>
{% endblock %}

{% block defer %}
	{{ super() }}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.44/jquery.form-validator.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.7.1/leaflet-geocoder-mapzen.min.js"></script>	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	
	{% assets filters="jsmin", output="assets/packaged-contribute.js",

		  "lib/bower/leaflet-geosearch/src/js/l.control.geosearch.js", 
		  "lib/bower/leaflet-geosearch/src/js/l.geosearch.provider.google.js",
		  "lib/bower/Leaflet.label/dist/leaflet.label.js",
		  "lib/bower/leaflet-image/leaflet-image.js",	
		  "js/countries.js",
		  "js/create-shelter.js",
		  "js/contribute.js"
	%}
		<script type="text/javascript" src="{{ASSET_URL}}" defer></script>
	{% endassets %}
{% endblock %}