{% extends "layout.html" %}
{% block content %}
    <section class="search">
        <div class="content">
            <div class="search-wrapper">
                <input type="" name="" id="query" placeholder="Search Shelters.."/>
            </div>
        </div>
    </section>
    <section class="filter">
        <div class="content">
            <h5>Filter by</h5>

            <form class="myform">
				<label for="countryFilter" class="button button-drop">
					<select id="countryFilter">
						<option value="" selected="selected">Country</option>
						<option value="" disabled>---</option>
					</select>
				</label>
				
				<label for="disasterFilter" class="button button-drop">
                    <select id="disasterFilter">
                        <option value="" selected="selected">Disaster</option>
                        <option value="" disabled>---</option>
                    </select>
                </label>
				
				<label for="shelterTypeFilter" class="button button-drop">
					<select id="shelterTypeFilter">
						<option value="" selected="selected">Type of response</option>
						<option value="" disabled>---</option>
					</select>
				</label>
		
                <!-- <a href="" class="button button-light button-drop">Climate</a> -->
                <!-- <a href="" class="button button-drop">Continent</a> -->
                <!-- <a href="" class="button button-drop">Disaster</a> -->
                <!-- <a href="" class="button button-light button-drop">Material</a> -->
                <!-- <a href="" class="button button-light button-drop">Commercial</a> -->

                <div class="advanced" id="advanced">
                    <div class="advanced-btn" onclick="toggleAdvanced()">Advanced Search</div>
                    <div class="advanced-content">

					    <label for="commercialFilter" class="button button-small button-drop">
							<select id="commercialFilter">
								<option value="" selected="selected">Organization</option>
								<option value="" disabled>---</option>
							</select>
						</label>
                        <label for="soilFilter" class="button button-small button-drop">
                            <select id="soilFilter">
                                <option value="" selected="selected">Soil Type</option>
                                <option value="" disabled>---</option>
                            </select>
                        </label>

                        

                        <label for="climateFilter" class="button button-small button-drop">
							<select id="climateFilter">
								<option value="" selected="selected">Climate</option>
								<option value="" disabled>---</option>
							</select>
						</label>
						<!--
						<label for="zoneFilter" class="button button-small button-drop">
							<select id="zoneFilter">
								<option value="" selected="selected">Continent</option>
								<option value="" disabled>---</option>
							</select>
						</label>
						-->
						<!--
                        <label for="topographyFilter" class="button button-small button-drop">
                            <select id="topographyFilter">
                                <option value="" selected="selected">Topography</option>
                                <option value="" disabled>---</option>
                            </select>
                        </label>
						-->
						<!--
                        <label for="isSRURatedFilter" class="button button-small ">
                            <input id="isSRURatedFilter" type="checkbox" value=""> Rated by SRU
                        </label>
						-->
                        <br>
                        <div class="hidden-xs">
                            <label for="costRange" class="button button-small">
                            Construction cost per unit:&nbsp<input id="costRange" data-type="range" class="span2"  data-slider-value="[0,1000000000]" />
                            <span id="costRangeMinValue" class="minValue"> 0</span> - <span id="costRangeMaxValue">0</span> $
                            </label>

                            <label  for="widthRange" class="button button-small">
                            Width:&nbsp<input id="widthRange" data-type="range" class="span2"  data-slider-value="[0,1000000000]"/>
                            <span id="widthRangeMinValue" class="minValue"> 0</span> - <span id="widthRangeMaxValue">0</span>m
                            </label>
                            <label  for="lengthRange" class="button button-small">
                            Length:&nbsp<input id="lengthRange" data-type="range" class="span2"  data-slider-value="[0,1000000000]" />
                            <span id="lengthRangeMinValue" class="minValue"> 0</span> - <span id="lengthRangeMaxValue">0</span>m
                            </label>
                        </div>



                    </div>
                </div>
                <div class="container-fluid data-options">
                     <div class="row">

                         <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="dc-data-count dc-chart" id="data-count">
                            Selected <span class="filter-count"></span> shelters out of <span
                                class="total-count"></span>
                            </div>
                         </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="menu-btn ">
                                <a id="all" href="#"  class="menu-href"> Reset All Filters&emsp;<i class="fa icon-cancel"></i></a>
                            </div>
                        </div>
                         <div class="col-md-4 col-sm-12 col-xs-12">
                             <div class="menu-btn">
                                    <a id="download" class="menu-href">Download <i class="fa icon-download"></i></a>
                                    |
                                    <a id="share" class="menu-href">Share <i class="fa icon-share"></i></a>
                             <div>
                         </div>


                     </div>



                </div>
            </form>
        </div>
    </section>
    <section class="map">
        <div class="map" id="chart-map" style="width:100%; height:360px;">
        </div>
		
		<div id="legend" class='my-legend'>
			<div class='legend-title'>Simplified classification</div>
			<div class='legend-scale'>
			  <ul class='legend-labels'>
				<li><span class="coldHUMID"></span>Cold humid</li>
				<li><span class="coldDRY"></span>Cold dry</li>
				<li><span class="moderateHUMID"></span>Moderate humid</li>
				<li><span class="moderateDRY"></span>Moderate dry</li>
				<li><span class="hotHUMID"></span>Hot humid</li>
				<li><span class="hotDRY"></span>Hot dry</li>
			  </ul>
			</div>
		</div>
    </section>
    <section class="tab1" id="tabs">
        <div class="content">
            <ul class="tabs">
                <li class="tab1" onclick="setTab(1)">Shelters</li><!--
                --><li class="tab2" onclick="setTab(2)">Statistics</li>
            </ul>
            <div class="tabcontent tabcontent1">
                <div class="shelters" id="shelterList">
                </div>
            </div>
            <div class="tabcontent tabcontent2">
                <div class="container-fluid stats">
                    <div class="row">
                                <div class="col-md-12 col-sm-12">

                                    <h4> Shelters Statistics<br>
                                    <small>
                                        You can filter shelters by clicking a graph, using top menu buttons or zooming and dragging the map. <br>
                                        Graph and menu filters are synchronized.
                                        The list of shelters and graphs are also synchronized, displaying only shelters that match selected criteria.
                                        To reset all filters use 'Reset All Filters' button below top menu.
                                    </small>
                                    </h4>


                                </div>
                            </div>
                    <div class="row>">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <h5>By Zone
                                        <small><a id="zone">reset</a></small>
                                    </h5>
                                    <div class="dc-chart" id="chart-ring-zone"></div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <h5>By Crisis
                                        <small><a id="crisis">reset</a></small>
                                    </h5>
                                    <div class="dc-chart" id="chart-ring-crisis"></div>
                                </div>
                                <div class="col-md-4 col-sm-4  col-xs-12">
                                    <h5>By Climate
                                        <small><a id="climate">reset</a></small>
                                    </h5>
                                    <div class="dc-chart" id="chart-ring-climate"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <h5>By Country
                                        <small><a id="country">reset</a></small>
                                    </h5>
                                    <div class="dc-chart" id="chart-bar-country"></div>
                                </div>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <h5>By Topography
                                        <small><a id="topography">reset</a></small>
                                    </h5>
                                    <div class="dc-chart" id="chart-topography"></div>

                                </div>

                            </div>
                             <div class="row">
                                <div class="col-md-12">
                                    <h5>By Year of Construction
                                        <small><a id="year">reset</a></small>
                                    </h5>
                                    <div class="dc-chart" id="chart-timeline"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-12" >
                                     <h5>Matching shelters
                                    </h5>

                                    <table class="table table-bordered table-striped dc-table" id="shelters-table">

                                <thead>
                                <tr class="header">
									<th>ID</th>
                                    <th>Name</th>
                                    <th>Zone</th>
                                    <th>Country</th>
                                    <th>Crisis</th>
                                    <th>Climate</th>
                                </tr>
                                </thead>
                            </table>
                                    </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            
        </div>
    </section>
{% endblock %}

{% block defer %}
	{{ super() }}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3-queue/3.0.3/d3-queue.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.5.0/leaflet.markercluster.js"></script>	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.0.0/leaflet.ajax.min.js"></script>	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.min.js"></script>	
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/bootstrap-slider.min.js"></script>	
	
	
	
	{% assets filters="jsmin", output="assets/packaged-dashboard.js",

		  "lib/bower/colorbrewer/colorbrewer.js",
		  "lib/custom/leaflet-legend/leaflet-legend.js",
	      "lib/custom/dc/dc.leaflet.js",
		  "js/dashboard.js"
	%}
		<script type="text/javascript" src="{{ASSET_URL}}" defer></script>
	{% endassets %}
		     
{% endblock %}
