{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='lib/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
          rel="stylesheet" media="screen">


    <script src="{{ url_for('static', filename = 'lib/dc/d3.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/dc/crossfilter.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/dc/colorbrewer.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/dc/dc.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/leaflet/leaflet.markercluster.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/leaflet/dc.leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/file-saver/FileSaver.js')}}"></script>


    <!--leaflet -->

    <link href="{{ url_for('static', filename='lib/leaflet/MarkerCluster.Default.css') }}" rel="stylesheet" media="screen" />

    <link href="{{ url_for('static', filename='lib/leaflet/leaflet.css') }}" rel="stylesheet" media="screen" />
    <linl href="{{ url_for('static', filename='lib/leaflet/MarkerCluster.css') }}" rel="stylesheet" media="screen" />

    <!-- DC.js  -->
    <link href="{{ url_for('static', filename='lib/dc/dc.css') }}" rel="stylesheet" media="screen" />

{% endblock %}
{% block content %}

    <div class="map" id="chart-map" style="width:100%; height:400px;">
    </div>

    <div class="container">
        <div class="row>">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">

                        <div class="dc-data-count dc-chart" id="data-count">

                            <h2> Shelters
                                <small>
                                    <span class="filter-count"></span> selected out of <span class="total-count"></span>
                                    records
                                    |
                                    <a id="all" href="#">Reset All</a>

                                </small>
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>By Year of Construction <small><a id="year">reset</a></small></h4>
                        <div class="dc-chart" id="chart-timeline"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>By Zone <small><a id="zone">reset</a></small></h4>
                        <div class="dc-chart" id="chart-ring-zone"></div>
                    </div>
                    <div class="col-md-4">
                        <h4>By Crisis <small><a id="crisis">reset</a></small></h4>
                        <div class="dc-chart" id="chart-ring-crisis"></div>
                    </div>
                    <div class="col-md-4">
                        <h4>By Climate <small><a id="climate">reset</a></small></h4>
                        <div class="dc-chart" id="chart-ring-climate"></div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>By Country <small><a id="country">reset</a></small></h4>
                        <div class="dc-chart" id="chart-bar-country"></div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <h2 class="text-right">
                    <small>
                        <a id="download">Download</a>
                        |
                        <a id="share">Share</a>
                    </small>
                </h2>


                <table class="table table-bordered table-striped dc-table" id="shelters-table">

                    <thead>
                    <tr class="header">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Zone</th>
                        <th>Country</th>
                        <th>Crisis</th>
                        <th>Climate</th>
                    </tr>
                    </thead>
                </table>
            </div>


        </div>
    </div>

   <script src="{{ url_for('static', filename = 'js/dashboard.js') }}"></script>
{% endblock %}
