{% extends "layout.html" %}

{% block assets_start %}
    {{ super() }}
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/bootstrap_custom.css") }}' media="screen, print">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
        {% for current_section in sections %}
        <li id="tab-{{ current_section.id }}" {% if current_section.id == section.id  %}class="active"{% endif %}>
            <a href="{{ url_for('shelter_bp.edit', shelter_id=shelter.id, section_name=current_section.name | replace(' ', '-')) }}">{{ current_section.name }}</a>
        </li>
        {% if loop.index == 1 %}
        <li id="tab-contributor">
            <a href="#contributor" role="tab" id="contributor-tab" data-toggle="tab" aria-controls="contributor">Contributor Details</a>
        </li>
        {% endif %}
        {% endfor %}
        <br>
        <li id="tab-edit" class="pull-right" >
            <div class="btn-group">
                <a class="btn delete-shelter-btn" href="{{ url_for('shelter_bp.delete', shelter_id=shelter.id, next='/user/shelters') }}">
                    <i class="glyphicon glyphicon-remove" title="Delete this shelter"></i>
                </a>
                <a id="btn-edit" class="btn" style="font-weight: bold;"
                title="Details"
                href="{{ url_for('shelter_bp.details', shelter_id=shelter.id, section_name=section.name | replace(' ', '-')) }}">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                </a>
            </div>
        </li>
    </ul>
	
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade content page1 editpage" role="tabpanel" id="contributor" aria-labelledby="contributor-tab">
            <div class="page page1">
                <h3>Contributor</h3>
                <div class="mygroup">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-2">
                            <a href="#host-profile" rel="nofollow" class="media-photo media-round">
                            <img alt="Profile picture owner" class="host-profile-image"
                                 src="{% if user.get_image_url() %}{{user.get_image_url()}}{% else %}{{ url_for("static", filename="img/blankavatar.png") }}{%endif%}" title="User" width="115" height="115">
                             </a>
                        </div>
                        <div class="col-md-6">
                            <br>
                            <h1 class="overflow h3 space-1 text-center-sm">{{user.name}}</h1>
                            <div id="" class="">
                                <a href="mailto:{{user.email}}" target="_top">{{user.email}}</a>
                            </div>
                            <div id="display-address" class="space-2 text-muted text-center-sm">
                                <span id="organization">{{user.organization}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade content page1 editpage active in" role="tabpanel" id="modalcontent" aria-labelledby="">
            <div class="page page1">
                {% if section.id == 1  %}
                <h3>Instructions</h3>
                <p class="instructions">On this page you can edit your shelter. Click the tabs on the top to edit the different sections. Pictures can be uploaded
                   to each of the sections, to that they appear under this section on your shelter page.</p>
                {% endif %}

                <div class="myform" role="form" action="" data-shelter-id="{{shelter.id}}" id="shelterForm">
                    {% for category in section.categories %}
                        {% for sub_category in category.sub_categories %}
                            <h3>{{ sub_category.name }}</h3>
                            {% for attribute in sub_category.attributes %}
                                        <div class="mygroup">
                                            <div class="mylabel">{{ attribute.name }} {% if attribute.pictures[0] %}<a class="btn-link see-drawing-link" attribute-name="{{attribute.name}}" section-name="{{sub_category.name}}">See drawing</a>{% endif %}</div>

                                            <div class="myinput">
                                                {% if not attribute.is_editable %}
                                                    {{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name }}

                                                {% elif not attribute.free_text %}
                                                    <label for="select{{ attribute.id }}" class="button button-stretch{% if attribute.multiple %} {% else %} button-stretch-drop{% endif %}">
                                                        <select 
                                                        property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                        {% if attribute.multiple %}multiple="multiple" class="expandable" {% endif %}
                                                        attribute-id="{{ attribute.id }}"
                                                        category-id="{{ attribute.category_id }}"
                                                        id="select{{ attribute.id }}">
                                                            {% if attribute.multiple %}<option disabled selected value>-- select one or more options --</option> {% else %} <option disabled selected value>-- select one option --</option> {% endif %}
                                                            
                                                            {% for value in attribute.associated_values %}
                                                                {{ shelter.get_idvalues_of_attribute(attribute.id) }}
                                                                <option value="{{value.id}}"
                                                                    {% if value.id in shelter.get_idvalues_of_attribute(attribute.id) %}selected="selected"{% endif %}>{{ value.name }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    </label>
                                                    {% if attribute.user_can_add_values %}
                                                        <!--<h6>
                                                            <span class="glyphicon glyphicon-plus add-value"
                                                            title="Other"
                                                            attribute-id="{{ attribute.id }}"
                                                            aria-hidden="true"></span>
                                                        </h6>-->
                                                    {% endif %}

                                                {% else %}
                                                    {% if attribute.type == "TextArea" %}
                                                        <textarea rows="10" id="{{ attribute.associated_values.first().id }}"
                                                        class="form-control free-text-attribute"
                                                        property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                        attribute-id="{{ attribute.id }}"
                                                        category-id="{{ attribute.category_id }}"
                                                        value-id="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].id }}">{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name }}</textarea>
                                                    {% elif attribute.type == "Date" %}
                                                        <input type="date"
                                                        id="{{ attribute.associated_values.first().id }}"
                                                        class="free-text-attribute"
                                                        property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                        attribute-id="{{ attribute.id }}"
                                                        category-id="{{ attribute.category_id }}"
                                                        value-id="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].id }}"
                                                        value="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name }}" />
                                                    {% elif attribute.type == "yes / no" %}
                                                        <input type="checkbox" class="free-text-attribute"
                                                        property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                        attribute-id="{{ attribute.id }}"
                                                        category-id="{{ attribute.category_id }}"
                                                        value-id="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].id }}"
                                                        value="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name }}"
                                                        {% if shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name in ("1","on")  %}checked{% endif %}
                                                         />
                                                    {% else %}
                                                        <input type="text"
                                                        id="{{ attribute.associated_values.first().id }}"
                                                        class="free-text-attribute"
                                                        property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                        attribute-id="{{ attribute.id }}"
                                                        category-id="{{ attribute.category_id }}"
                                                        value-id="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].id }}"
                                                        value="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name }}" />
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                    </div>
                                {% endfor %}

                                <h4>Pictures for {{ sub_category.name }}</h4>
                                <div class="mygroup">
                                    <ul>
                                    {% for picture in pictures[sub_category.name] %}
                                      <li>
                                        <a href="/static/pictures/shelters/{{ shelter.id }}/{{ picture.file_name }}" data-lightbox="{{ category_name }}">
                                            <div><img height="150px" src="/static/pictures/shelters/{{ shelter.id }}/{{ picture.file_name }}" style="padding-top:3px;" /></div>
                                        </a>
                                        <a href="{{ url_for('shelter_bp.delete_picture', picture_id=picture.id) }}"><span class="glyphicon glyphicon-remove" title="Remove"></span></a>
                                      </li>
                                    {% endfor %}
                                    </ul>
                                    <div class="mylabel">Upload photos of the shelter</div>
                                    <div id="dropzone_{{ sub_category.id }}" class="dropzonediv" data-sub-category="{{ sub_category.name }}" data-sub-category-id="{{ sub_category.id }}" data-shelter-id="{{shelter.id}}">
                                       <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                                       <div class="fallback">
                                           <input id="files" multiple="true" name="files" type="file"
                                                  data-validation="length mime size"
                                                  data-validation-length="min1"
                                                  data-validation-allowing="jpg, png, gif"
                                                  data-validation-max-size="4000kb"
                                                  data-validation-error-msg-size="You can not upload images larger than 4000kb"
                                                  data-validation-error-msg-mime="You can only upload images"
                                                  data-validation-error-msg-length="You have to upload at least one images">
                                       </div>
                                    </div>
                                </div>
                                
                                {% if sub_category.name == "Documents"  %}
                                <h4>Documents</h4>
                                {% for document in documents[sub_category.name] %}
                                    <div>
                                        <a href="/static/documents/shelters/{{ shelter.id }}/{{ document.file_name }}" download>
                                            <span class="glyphicon glyphicon-file" title="{{ document.file_name }}"></span>&nbsp;{{ document.file_name }}
                                        </a>
                                        <a href="{{ url_for('shelter_bp.delete_document', document_id=document.id) }}"><span class="glyphicon glyphicon-remove" title="Remove"></span></a>
                                        <br />

                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div><!--tab-content-->
</div><!-- /.container -->

<div class="modal fade bs-example-modal-sm" id="addValueDialog" attribute-id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a new choice</h4>
            </div>
            <div class="modal-body">
                <input id="new-value-input" type="text" name="valuename" placeholder="New value name" />
                <p>This new value will be available for this attribute in the future for <b>all users</b>.</p>
            </div>
            <div class="modal-footer">
                <button id="add-new-value" type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
{{ super() }}
		<div class="mymodal mymodal-dark" id="infoDialog">
			<div class="mymodal-close" onclick="modalClose()"></div>
			<div align="center" id="listOfPictures"></div>
		</div>			
{% endblock %}

{% block defer %}
	{{ super() }}
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3-queue/3.0.3/d3-queue.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
		
		{% assets filters="jsmin", output="assets/packaged-edit.js",
          "lib/custom/tooltip/tooltip.js",
		  "lib/custom/jquery-glossarize/jquery.glossarize.js",	
		  "js/edit-shelter.js"
		%}
			<script type="text/javascript" src="{{ASSET_URL}}" defer></script>
		{% endassets %}

        <script>
        $(document).ready(function(){
            let x = location.hash;
            if (x == '#contributor'){
                $('#contributor-tab').click();
            }

            $('.delete-shelter-btn').click(function(event){
                if(!confirm('You are going to delete this shelter.')){
                    event.preventDefault();
                }
            });
        });
        </script>
	
{% endblock %}
