{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/edit-shelter.js') }}"></script>
    <link href="{{ url_for('static', filename='lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" media="screen" />
    <link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet" media="screen" />
{% endblock %}
{% block content %}
<div class="container-fluid">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
        {% for current_section in sections %}
            <li id="tab-{{ current_section.id }}" {% if current_section.id == section.id  %}class="active"{% endif %}>
                <a href="{{ url_for('shelter_bp.edit', shelter_id=shelter.id, section_name=current_section.name | replace(' ', '-')) }}">{{ current_section.name | translate }}</a>
            </li>
        {% endfor %}

        <li id="tab-edit" class="pull-right" >
            <a id="btn-edit" class="btn" style="font-weight: bold;"
            title="Details"
            href="{{ url_for('shelter_bp.details', shelter_id=shelter.id, section_name=section.name | replace(' ', '-')) }}">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
        </li>
    </ul>

    <div class="form-horizontal" role="form" action="" shelterId="{{shelter.id}}" id="shelterForm">
        {% for category in section.categories %}
            {% for sub_category in category.sub_categories %}
                <fieldset id="{{ category }}" class="border">
                    <legend class="border">
                        <span class="section-title">{{ sub_category.name | translate }}</span>
                    </legend>
                    <div class="col-md-8">
                            {% for attribute in sub_category.attributes %}
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <b>{{ attribute.name | translate }}</b>
                                        </div>

                                        <div class="col-md-4">
                                            {% if not attribute.is_editable %}
                                                {{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name  | translate }}

                                            {% elif not attribute.free_text %}
                                                <select class="form-control select-attribute selectpicker show-tick"
                                                property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                {% if attribute.multiple %}multiple="multiple"{% endif %}
                                                attribute-id="{{ attribute.id }}"
                                                category-id="{{ attribute.category_id }}"
                                                id="select{{ attribute.id }}">
                                                    <option value=""></option>
                                                    {% for value in attribute.associated_values %}
                                                        {{ shelter.get_idvalues_of_attribute(attribute.id) }}
                                                        <option value="{{value.id}}"
                                                            {% if value.id in shelter.get_idvalues_of_attribute(attribute.id) %}selected="selected"{% endif %}>{{ value.name | translate }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {% if attribute.user_can_add_values %}
                                                    <h6>
                                                        <span class="glyphicon glyphicon-plus add-value"
                                                        title="Other"
                                                        attribute-id="{{ attribute.id }}"
                                                        aria-hidden="true"></span>
                                                    </h6>
                                                {% endif %}

                                            {% else %}
                                                {% if attribute.type == "TextArea" %}
                                                    <textarea rows="10" id="{{ attribute.associated_values.first().id }}"
                                                    class="form-control free-text-attribute"
                                                    property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                    attribute-id="{{ attribute.id }}"
                                                    category-id="{{ attribute.category_id }}"
                                                    value-id="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].id }}">{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name | translate }}</textarea>
                                                {% elif attribute.type == "Date" %}
                                                    <input type="date"
                                                    id="{{ attribute.associated_values.first().id }}"
                                                    class="form-control datepicker free-text-attribute"
                                                    property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                    attribute-id="{{ attribute.id }}"
                                                    category-id="{{ attribute.category_id }}"
                                                    value-id="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].id }}"
                                                    value="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name }}" />
                                                {% elif attribute.type == "yes / no" %}
                                                    <input type="checkbox" class="form-control free-text-attribute"
                                                    property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                    attribute-id="{{ attribute.id }}"
                                                    category-id="{{ attribute.category_id }}"
                                                    value-id="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].id }}"
                                                    value="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name }}"
                                                    {% if shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name in ("1","on")  %}checked{% endif %}
                                                     />
                                                {% else %}
                                                    <input type="text"
                                                    id="{{ attribute.associated_values.first().id }}"
                                                    class="form-control free-text-attribute"
                                                    property-id="{{ shelter.get_property_of_attribute(attribute.id).id }}"
                                                    attribute-id="{{ attribute.id }}"
                                                    category-id="{{ attribute.category_id }}"
                                                    value-id="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].id }}"
                                                    value="{{ shelter.get_values_of_attribute(attribute_id=attribute.id)[0].name | translate }}" />
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <h4>Pictures</h4>
                            <form action="" method="post" enctype="multipart/form-data">
                                <input class="form-group" type="file" name="mediafile" accept="image/*" />
                                <input type="hidden" name="category_id" value="{{ sub_category.id }}" />
                                <input class="form-group" type="submit" name="pictures" value="Submit" />
                            </form>
                            {% for picture in pictures[sub_category.name] %}
                                <div class="col-md-1 thumbShelterPicture">
                                    <a href="/public/pictures/shelters/{{ shelter.id }}/{{ picture.file_name }}" data-lightbox="{{ category_name }}">
                                        <div><img height="150px" src="/public/pictures/shelters/{{ shelter.id }}/{{ picture.file_name }}" style="padding-top:3px;" /></div>
                                    </a>
                                    <a href="{{ url_for('shelter_bp.delete_picture', picture_id=picture.id) }}"><span class="glyphicon glyphicon-remove" title="Remove"></span></a>
                                    <br />
                                </div>
                            {% endfor %}
                        </div>

                        {% if sub_category.name == "Documents"  %}
                            <div class="row">
                                <h4>Documents</h4>
                                <form action="" method="post" enctype="multipart/form-data">
                                    <input class="form-group" type="file" name="mediafile" accept="application/pdf,application/doc" />
                                    <input type="hidden" name="category_id" value="{{ sub_category.id }}" />
                                    <input class="form-group" type="submit" name="documents" value="Submit" />
                                </form>

                                {% for document in documents[sub_category.name] %}
                                    <div>
                                        <a href="/public/documents/shelters/{{ shelter.id }}/{{ document.file_name }}" download>
                                            <span class="glyphicon glyphicon-file" title="{{ document.file_name }}"></span>&nbsp;{{ document.file_name }}
                                        </a>
                                        <a href="{{ url_for('shelter_bp.delete_document', document_id=document.id) }}"><span class="glyphicon glyphicon-remove" title="Remove"></span></a>
                                        <br />

                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </fieldset>
            {% endfor %}
        {% endfor %}
    </div>
</div><!-- /.container -->

<div class="modal fade bs-example-modal-sm" id="addValueDialog" attribute-id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a new choice</h4>
            </div>
            <div class="modal-body">
                <input id="new-value-input" type="text" name="valuename" placeholder="New value name" />
                <p>This new value will be available for this attribute in the future for <b>all users</b>.</p>
            </div>
            <div class="modal-footer">
                <button id="add-new-value" type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" class="source">
$(document).ready(function() {
    var dateSupported = (function() {
        var el = document.createElement('input'),
            invalidVal = 'foo'; // Any value that is not a date
        el.setAttribute('type','date');
        el.setAttribute('value', invalidVal);
        // A supported browser will modify this if it is a true date field
        return el.value !== invalidVal;
    }());
    if (!dateSupported) {
        $( ".datepicker" ).datepicker({dateFormat: 'dd/mm/yyyy'});
    }


    $('.select-attribute').change(function(evt) {
        property_id = $(evt.target).attr("property-id");
        id_of_values = $(evt.target).val();
        if (typeof id_of_values === 'string') {
            tmp = []
            tmp.push(id_of_values)
            id_of_values = tmp
        }

        if (property_id==""){
            category_id = $(evt.target).attr("category-id");
            attribute_id = $(evt.target).attr("attribute-id");
            new_property({{ shelter.id }},
                            category_id, attribute_id, id_of_values,
                            $(evt.target))
        } else {
            update_property(property_id, id_of_values)
        }
    });

    $('.free-text-attribute').change(function(evt) {
        value = $(evt.target).val();
        if ($(evt.target).context.type == "checkbox") {
            if (value == "on" || value == "1") {
                value = "0";
            } else {
                value = "1";
            }
        }
        value_id = $(evt.target).attr("value-id");

        if (value_id != "None") {
            update_free_text_value(value_id, value);
        } else {
            category_id = $(evt.target).attr("category-id");
            attribute_id = $(evt.target).attr("attribute-id");
            new_free_text_property({{ shelter.id }}, category_id,
                                        attribute_id, value, $(evt.target));
        }
    });

    $('.add-value').click(function(evt) {
        attribute_id = $(evt.target).attr('attribute-id');
        $('#addValueDialog').attr('attribute-id', attribute_id);
        $('#addValueDialog').modal({backdrop:'static', keyboard:false});
    })

    $('#add-new-value').click(function(evt) {

        new_value = {
            attribute_id: $('#addValueDialog').attr('attribute-id'),
            name: $('#new-value-input').val()
        }
        $.ajax({
            type: 'POST',
            url: '/api/value',
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(new_value),
            success: function (result) {
                $('#select'+attribute_id)
                    .append($("<option></option>")
                                .attr("value", result.id)
                                .text(result.name));
                $('.selectpicker').selectpicker('refresh');
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                console.log(errorThrown);
            }
        });
    })
});
</script>
{% endblock %}
