{% extends "layout.html" %}
{% block content %}
        <section class="contribute">
                <div class="content">
                    <h1>Help</h1>
                    <p>Tutorials to help you get started with the shelter-database</p>
					<p>You can change subtitle language and you can switch to full screen</p>
				</div>
            </section>
			<section class="videos">
                <div class="content">
					<div class="flexbox" id="newest">
						<div class="box">
							<h4><a href="/shelter/102">Create an account and log in</a></h4>
							<iframe src="https://player.vimeo.com/video/209637588" width="256" height="144" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
						<div class="box">
							<h4><a href="/shelter/102">Search for a shelter</a></h4>
							<iframe src="https://player.vimeo.com/video/209637635" width="256" height="144" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					    </div>
						<div class="box">
							<h4><a href="/shelter/102">Add a shelter</a></h4>
							<iframe src="https://player.vimeo.com/video/209637494" width="256" height="144" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					    </div>
					</div>
				</div>
			</section>
			<section class="contribute">
                <div class="content">
                    <h3>More questions?</h3>
					<p>Please send your questions to us on <a href="mailto:info@shelter-database.org" target="_blank">info@shelter-database.org</a></p>
                </div>
            </section>
            <section class="knowledge background" style="background-image: url('{{ url_for('static', filename='img/6.jpg') }}')">

            </section>
{% endblock %}
