{% extends "layout.html" %}
{% block content %}
        <section class="contribute">
                <div class="content">
                    <h1>Help</h1>
                    <p>Tutorials to help you get started with the shelter-database</p>
					<p>Please send your questions to us on <a href="mailto:info@shelter-database.org" target="_blank">info@shelter-database.org</a></p>
                </div>
            </section>
			<section class="videos">
                <div class="content">
					<iframe src="https://player.vimeo.com/video/209533285" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<br/><br/>
                    <iframe src="https://player.vimeo.com/video/209544996" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </section>
            <section class="knowledge background" style="background-image: url('{{ url_for('static', filename='img/6.jpg') }}')">

            </section>
{% endblock %}
