{% extends "layout.html" %}

{% block header_start %}
<header class="landingpage">
{% endblock %}

{% block main_start %}
<main>
{% endblock %}
		
{% block content %}
        <section class="first background" style="background-image: url('{{ url_for('static', filename='img/1.jpg') }}')">
            <div class="overlay"></div>
            <div class="toplayer">
                <h1>Open Shelter Database</h1>
                <h2>An overview of <strong class="notranslate">{{num_shelters}}</strong> shelters which have been built throughout the world in response to disasters</h2>
                <div class="search">
                    <div class="search-wrapper">
                        <input type="text" name="" placeholder="Search Shelters" id="searchinput" /> 
						<a id="searchinfo" onclick="modalOpen('infomodal')"><i class="fa icon-help fa-inverse" style="color:white;"></i></a>

                    </div>
                </div>
                <p>- or -</p>
                <a class="button button-white" href="contribute"><i class="fa fa-edit"></i><span class="text">Add your project</span></a>
            </div>
			<div class="arrow">
				<div class="arrow-down" data-href="#info"></div>
				<a href="#info" class="showmorelink">See more below</a>
            </div>
        </section>
		<section class="info" id="info">
            <div class="content">
                <h3>What it is for</h3>
                <div class="flexbox">
                    <div class="box">
                        <i class="head icon-help"></i>
                        <h4>Need</h4>
                        <p>Humanitarian Sheltering is a key component to rebuild affected populations’ lives and livelihoods.</p>
                    </div>
                    <div class="box">
                        <i class="head icon-database"></i>
                        <h4>Document, Share, Save</h4>
                        <p>Shelter data is collected systematically and shared with people ranging from decision makers to field implementers, to facilitate consultation, understanding and dissemination of best practices.</p>
                    </div>
					<div class="box">
                        <i class="head icon-group"></i>
                        <h4>Everyone</h4>
                        <p>Shelter implementing organizations are invited to contribute their shelter data to the benefit of all.</p>
                    </div>
				</div>
				<!-- the Humanitarian Shelter Sector becomes crucial in the planning of disaster risk reduction-oriented interventions.-->
				<div class="flexbox">

                    <div class="box">
                        <i class="head icon-globe"></i>
                        <h4>Global</h4>
                        <p>Disasters hit parts of the globe with little or no predictability and their amount and consequences are alarmingly increasing year after year.</p>
                    </div>
                    <div class="box">
                        <i class="head icon-codeopen"></i>
                        <h4>Open</h4>
                        <p>The shelter database is open and searchable. For developers an API is available.</p>
                    </div>
					<div class="box">
                        <i class="head icon-chart-line"></i>
                        <h4>Cost effective</h4>
                        <p>Sheltering is representing huge costs for agencies. Sharing open data on best practices can drastically reduce costs of implementation</p>
                    </div>
                </div>
            </div>
        </section>
		 <section class="recommendations background" style="background-image: url('{{ url_for('static', filename='img/mapview.jpg') }}')">
            <div class="overlay"></div>
            <div class="toplayer">
                <h3>Find shelters</h3>
                        <p>Search shelter designs worldwide and get access to detailed information and statistics.</p>
                        <a href="{{ url_for('dashboard') }}" class="button button-white"><i class="fa fa-lightbulb-o"></i><span class="text">Go to the shelter search</span></a>
            </div>
        </section>
        <section class="info">
            <div class="content" id="newestcontent">
                <h3>Newest shelters</h3>
				<div class="flexbox" id="newest"></div>
            </div>
        </section>
        <section class="contact">
            <h3>Contact us</h3>
            <p>
                <a class="button full" href="mailto:info@shelter-database.org"><i class="fa fa-envelope"></i><span class="text">Email info@shelter-database.org</span></a>
            </p>
        </section>
		<section class="supported">
			<h3>created by</h3>
			<div class="supporters">
                <div class="supporter large" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/SRU.png') }}');"></div>
            </div>
            <h3>supported by</h3>
			<div class="supporters">
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/LRC.svg') }}');"></div>
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/BRC_fl.jpg') }}');"></div>
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/BRC_fr.jpg') }}');"></div>
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/Logo_IFRC.jpg') }}');"></div>
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/Logo_NLRC.jpg') }}');"></div>
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/LIST.svg') }}');"></div>
            </div>
		</section>
{% endblock %}

{% block footer %}
{{ super() }}
<div class="mymodal" id="infomodal">
        <div class="content" id="modalcontent">
			<div class="page page1">
				<p>Just enter a keyword in this search and press Enter (or Next on mobile). You can search on any of the shelter attributes, such as country name, building materials, and many more. Small spelling mistakes are possible. Search is English only. </p>
				<div class="buttons">
                    <div onclick="modalClose()" class="button button-light"><i class="fa fa-check"></i><span class="text">Close</span></div>
                </div>
            </div>
		</div>
</div>
{% endblock %}

{% block defer %}
	{{ super() }}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	
	{% assets filters="jsmin", output="assets/packaged-index.js",
			  "js/index.js"
		%}
			<script type="text/javascript" src="{{ASSET_URL}}" defer></script>
		{% endassets %}
{% endblock %}