{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'lib/bower/d3/d3.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'lib/bower/spin.js/spin.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'lib/bower/spin.js/jquery.spin.js') }}"></script>
	<script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
{% endblock %}
{% block wrapper_start %}

{% endblock %}
{% block content %}
        <section class="first background" style="background-image: url('{{ url_for('static', filename='img/1.jpg') }}')">
            <div class="overlay"></div>
            <div class="toplayer">
                <h1>Open Shelter Database</h1>
                <h2>An overview of <strong>{{num_shelters}}</strong> shelters which are built<br />throughout the world every year in response to disasters</h2>
                <div class="search">
                    <div class="search-wrapper">
                        <input type="text" name="" placeholder="Search Shelters" id="searchinput" />
                    </div>
                </div>
                <p>- or -</p>
                <a class="button button-white" href="contribute"><i class="fa fa-edit"></i><span class="text">Add your project</span></a>
            </div>
			<div class="arrow">
                <div class="arrow-down"></div>
            </div>
        </section>
		<section class="info">
            <div class="content">
                <h3>What it is for</h3>
                <div class="flexbox">
                    <div class="box">
                        <i class="head fa fa-question-circle-o"></i>
                        <h4>Why</h4>
                        <p>Shelter is one of the most costly and visible humanitarian interventions and at the same time a vital asset for affected people to rebuild their lives. Confronted with the reality of rising numbers of disasters where sheltering presents a key component of the humanitarian assistance, the Humanitarian Shelter Sector is challenged to upscale delivery of, cost-effective, sustainable and context specific shelter solutions. </p>
                    </div>
                    <div class="box">
                        <i class="head fa fa-globe"></i>
                        <h4>What</h4>
                        <p>Extensive experience in implementing emergency, transitional and permanent shelters exists within the humanitarian shelter sector. This knowledge needs to be documented and made available as reference and decision support to speed up the planning process in future responses. It can also support preparedness and long term impact assessments.</p>
                    </div>
                    <div class="box">
                        <i class="head fa fa-database"></i>
                        <h4>How</h4>
                        <p>The IFRC-SRU has been tasked to build up an inventory of shelters documented in a systematic, methodological manner that particularly captures technical details, construction practices, climatic conditions, availability and suitability of materials and techniques and other information. The database is a shared knowledge base open for any agency to upload their shelter solution.</p>
                    </div>
                </div>
            </div>
        </section>
		 <section class="recommendations background" style="background-image: url('{{ url_for('static', filename='img/mapview.png') }}')">
            <div class="overlay"></div>
            <div class="toplayer">
                <h3>Find shelters</h3>
                        <p>Search shelter designs worldwide and get access to detailed information and statistics.</p>
                        <a href="{{ url_for('dashboard') }}" class="button button-white"><i class="fa fa-lightbulb-o"></i><span class="text">Go to the shelter search</span></a>
            </div>
        </section>
        <section class="info">
            <div class="content">
                <h3>Newest shelters</h3>
				<div class="flexbox" id="newest"></div>
            </div>
        </section>
        <section class="recommendations background" style="background-image: url('{{ url_for('static', filename='img/2.jpg') }}')">
            <div class="overlay"></div>
            <div class="toplayer">
                <h3>Knowledge Base</h3>
                        <h4>Recommendations</h4>
                        <p>The recommendations are summarizing some basic principles that should be taken into consideration during planning and implementation of shelter projects when building in disaster prone areas.</p>
                        <a href="{{ url_for('knowledgebase') }}" class="button button-white"><i class="fa fa-lightbulb-o"></i><span class="text">Read our recommendations</span></a>
            </div>
        </section>
        <section class="contact">
            <h3>Contact us</h3>
            <p>
                <a class="button full" href="mailto:ifrc-sru@croix-rouge.lu"><i class="fa fa-envelope"></i><span class="text">Email</span></a>
            </p>
        </section>
		<section class="supported">
            <h3>supported by</h3>
			<div class="supporters">
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/LRC.svg') }}');"></div>
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/BRC_fl.jpg') }}');"></div>
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/BRC_fr.jpg') }}');"></div>
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/Logo_IFRC.jpg') }}');"></div>
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/Logo_NLRC.jpg') }}');"></div>
                <div class="supporter" style="background-image:url('{{ url_for('static', filename = 'img/contributors_logo/LIST.svg') }}');"></div>
            </div>
		</section>
{% endblock %}
{% block wrapper_end %}

{% endblock %}