{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 pull-right">
            <div class="well">
                <form class="form-horizontal" action="{{ url_for('signup') }}" method="POST" role="form">
                    <h3 class="form-group"><span>Sign up</span> <span class="glyphicon glyphicon-pencil"></span></h3>
                    {{ signupForm.hidden_tag() }}
                    <div class="form-group">
                        {{ signupForm.name(class_="form-control", placeholder="Your name") }}
                        {% for message in signupForm.name.errors %}
                            <div><b>{{ message }}</b></div>
                        {% endfor %}
                        <p class="help-block">Letters, numbers, dots and underscores only.</p>
                    </div>
                    <div class="form-group">
                        {{ signupForm.email(class_="form-control", placeholder="Your email address") }}
                        {% for message in signupForm.email.errors %}
                            <div><b>{{ message }}</b></div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ signupForm.password(class_="form-control", placeholder="Your password") }}
                        {% for message in signupForm.password.errors %}
                            <div><b>{{ message }}</b></div>
                        {% endfor %}
                        <p class="help-block">Minimum 6 characters.</p>
                    </div>
                    <div class="form-group">
                        {{ signupForm.submit(class_="btn btn-default form-control") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 pull-right">
            <div class="well">
                <form class="form-horizontal" action="{{ url_for('login') }}" method="POST" role="form">
                    <h3 class="form-group"><span>Log In</span> <span class="glyphicon glyphicon-log-in"></span></h3>
                    {{ loginForm.hidden_tag() }}
                    <div class="form-group">
                        {{ loginForm.email(class_="form-control", placeholder="Your email address") }}
                        {% for message in loginForm.email.errors %}
                            <div><b>{{ message }}</b></div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ loginForm.password(class_="form-control", placeholder="Your password") }}
                        {% for message in loginForm.password.errors %}
                            <div><b>{{ message }}</b></div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ loginForm.submit(class_="btn btn-default form-control") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 pull-right">
            <div class="well">
                <h3>Welcome to the Shelter Database!</h3>
                <p>Please create your account to enter your shelter into the
                    database.
                    Once you have entered your details and chosen a password
                    you can start entering the data of your shelter immediately
                    into the format. The format contains drop down menus with
                    single or multiple choice, to facilitate your data-entry.
                    Most technical terms are explained in the
                    <a href="{{ url_for('recommendations', page_name='Glossary') }}">glossary</a> or illustrated
                    with little technical drawings.
                    Each section also gives the possibility to upload photos.
                    Please try to give as complete information as possible.</p>

                    <p>Thank you for taking the time to enter new shelters into
                        the database! You are contributing to make the shelter
                        database a valuable tool for other shelter practitioners!</p>

                    <p>We want to make this a multi-language tool. French and
                        Spanish translation will be provided soon, but we are
                        still looking for volunteers who could translate it into
                        other languages, for example Arabic, Bangla, Hindi, Russian, Urdu, and the major African languages.</p>

                    <p>If you are interested, or have any questions or
                        recommendations, please don't hesitate to write to
                        <a href="mailto:ifr-sru@croix-rouge.lu">ifr-sru@croix-rouge.lu</a>.</p>

                    <p>The Shelter Database is an initiative of the
                        <a href="http://ifrc-sru.org">Benelux Red Cross Societies</a>
                        in collaboration with the IFRC Shelter and Settlements Department.
                        You can see the list of all contributors <a href="{{ url_for('contributors') }}">here</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
