{% extends "layout.html" %}
{% block content %}
        <section class="recommendations background first" style="background-image: url('{{ url_for('static', filename='img/2.jpg') }}')">
            <div class="overlay"></div>
            <div class="toplayer">
                <h3>Knowledge Base</h3>
                <div class="flexbox">
                    <div class="box">
                        <a href="page/Bibliography"><i class="head_no_color fa fa-book fa-inverse"></i></a>
						<h4>Bibliography</h4>
                    </div>
                    <div class="box">
					    <a href="page/Glossary"><i class="head_no_color fa fa-list fa-inverse"></i></a>
						<h4>Glossary</h4>
                    </div>
					<div class="box">
                        <a href="page/Recommendations"><i class="head_no_color fa fa-thumbs-up fa-inverse"></i></a>
						<h4>Recommendations</h4>
                    </div>
                </div>

                <!-- <p></p> -->

            </div>
        </section>
{% endblock %}
