
<!DOCTYPE html>
<html lang="nl">
<head>
	{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="robots" content="noindex, nofollow">
	<link rel="shortcut icon" type="image/png" href="{{ url_for("static", filename="img/favicon.png") }}" />
    <title>Shelter Database</title>

    <meta name="description" content="The Shelter Database is a resource for the wider shelter sector, that can help to deliver humanitarian shelter." />


    <link type='text/css' rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,400,300,700'>
	<link href="{{ url_for('static', filename = 'lib/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
	<link href="{{ url_for('static', filename = 'lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" media="screen" />
	<link href="{{ url_for('static', filename='css/style_new.css') }}" rel="stylesheet" media="screen" />
	
	<script src="{{ url_for('static', filename = 'lib/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/create-shelter.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/countries.js') }}"></script>

	<!-- Add custom CSS here -->
    <!--<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" media="screen" />-->
    <link href="{{ url_for('static', filename='css/climate.css') }}" rel="stylesheet" media="screen" />
    {% endblock %}
		
</head>
<body class="">
    <header>
        <nav>
            <a class="home" href="index.html"><i class="fa fa-plus-square"></i><span class="text">Shelter Database</span></a>
            <ul>
				<li><a href="{{ url_for('dashboard') }}">Shelters</a></li>
                 <li><a href="{{ url_for('contribute') }}" class="selected">Contribute</a></li>
                <li><a href="#">Knowledge Base</a></li>
				{% if g.user.is_authenticated %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<div><span class="glyphicon glyphicon-user"></span>&nbsp;{{ current_user.name }}<b class="caret"></b></div>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{{ url_for('user_bp.profile') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;Profile</a></li>
							<li><a href="{{ url_for('user_bp.shelters') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;Your shelters</a></li>
							{% if current_user.is_admin %}
								<li role="presentation" class="divider"></li>
								<li><a href="{{ url_for('administration.dashboard') }}">Dashboard</a></li>
								<li><a href="{{ url_for('administration.shelters') }}">Shelters</a></li>
								<li><a href="{{ url_for('administration.users') }}">Users</a></li>
								<li><a href="{{ url_for('administration.pages') }}">Edit pages</a></li>
								<li><a href="{{ url_for('administration.attributes') }}">Attributes</a></li>
								<li><a href="{{ url_for('admin.index') }}">Data management</a></li>
								<li role="presentation" class="divider"></li>
							{% endif %}
							<li><a href="{{ url_for("logout") }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
						</ul>
					</li>
				{% else %}
					<li><a href="{{ url_for('join') }}">Join</a></li>
				{% endif %}
            </ul>
        </nav>
    </header>

	<main class="page">
		<div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        {% block content %}{% endblock %}
		
	    <footer>
            &copy; Copyright 2016
        </footer>
    </main>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!--<script src="{{ url_for('static', filename = 'lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'lib/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
        <script>
        $(document).ready(function() {
            $('ul.navbar-right > li.dropdown').show();

            $("#newShelter").click(function(evt) {
                var filters = [{"name":"name","op":"eq","val":"Country"}];
                $.ajax({
                    type: 'GET',
                    url: '/api/attribute',
                    contentType: "application/json",
                    dataType: "json",
                    data: {"q": JSON.stringify({"filters": filters})},
                    success: function(result) {
                        result.objects[0].associated_values.map(function(country) {
                            $("#countrySelect").append(new Option(country.name, country.id));
                        })
                        $('.selectpicker').selectpicker({style: 'btn-default',
                            size: false});
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown){
                        //alert(errorThrown);
                    }
                }) ;
            });

            //Attach a submit handler to the form
            $( "#createShelterForm" ).submit(function( event ) {
                // Stop form from submitting normally
                event.preventDefault();
                // Get some values from elements on the page:
                var $form = $(this);
                var values = {};
                form_complete = true;
                $.each($form.serializeArray(), function(i, field) {
                    if (field.value == '') {
                        form_complete = false;
                    }
                    values[field.name] = field.value;
                });
                url = $form.attr("action");

                if (form_complete) {
                    // Send the data using post
                    name_of_shelter = values["name"]
                    country_value_id = values["country"];
                    country_name = $('#countrySelect option:selected').text()
                    create_shelter(name_of_shelter, country_value_id, country_name);
                } else {
                    alert("Please fill all the fields of the form.");
                }
            });
        });
        </script>-->
    </body>
</html>
