
<!DOCTYPE html>
<html lang="nl">
<head>
	{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="robots" content="noindex, nofollow">
	<link rel="shortcut icon" type="image/png" href="{{ url_for("static", filename="img/favicon.png") }}" />
    <title>Open Shelter Database</title>

    <meta name="description" content="The Open Shelter Database is a resource for the wider shelter sector, that can help to deliver humanitarian shelter." />
	<meta property="og:title" content="Open Shelter Database" />
	<meta property="og:description" content="The Open Shelter Database is a resource for the wider shelter sector, that can help to deliver humanitarian shelter." />
	
	{% endblock %}
	{% block assets_start %}
	{% endblock %}
	
	{% block assets_end %}
		<link href="{{ url_for('static', filename='icons/css/fontello.css') }}" rel="stylesheet" media="screen" />
		{% assets filters="cssmin", output="assets/packaged.css",
			  "lib/bower/bootstrap/dist/css/bootstrap.min.css",
			  "lib/bower/datatables.net-bs/css/dataTables.bootstrap.min.css",
			  "lib/bower/dropzone/dist/dropzone.css",
			  "lib/bower/leaflet/dist/leaflet.css",
			  "css/googlefont.css",
			  "css/style_new.css", 
			  "css/print.css"			  
		%}
		<link rel="stylesheet" type="text/css" href='{{ ASSET_URL }}' media="screen">
		{% endassets %}
	{% endblock %}
		
</head>
<body>
{% block wrapper_start %}

{% endblock %}
		{% block header_start %}
		<header>
		{% endblock %}
			<nav>
				<a id="home" class="home select-menu" href="/"><i class="fa icon-plus-squared"></i><span class="text">Open Shelter Database</span></a>
				<ul>
					<li><a id="dashboard" class="select-menu" href="{{ url_for('dashboard') }}">Shelters</a></li>
					 <li><a id="contribute" class="select-menu" href="{{ url_for('contribute') }}">Contribute</a></li>
					<li><a id="knowledgebase" class="select-menu" href="{{ url_for('knowledgebase') }}">Knowledge Base</a></li>
					{% if g.user.is_authenticated %}
						<li class="dropdown">
							<a id="user" href="#" class="dropdown-toggle select-menu" data-toggle="dropdown">
								<div><span class="fa icon-user"></span>&nbsp;{{ current_user.name }}<b class="caret"></b></div>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('user_bp.profile') }}"><span class="fa icon-user"></span>&nbsp;Profile</a></li>
								<li><a href="{{ url_for('user_bp.shelters') }}"><span class="fa icon-warehouse"></span>&nbsp;Your shelters</a></li>
								{% if current_user.is_admin %}
									<li role="presentation" class="divider"></li>
									<li><a href="{{ url_for('administration.dashboard') }}">Dashboard</a></li>
									<li><a href="{{ url_for('administration.shelters') }}">Shelters</a></li>
									<li><a href="{{ url_for('administration.users') }}">Users</a></li>
									<li><a href="{{ url_for('administration.pages') }}">Edit pages</a></li>
									<li><a href="{{ url_for('administration.attributes') }}">Attributes</a></li>
									<li><a href="{{ url_for('admin.index') }}">Data management</a></li>
									<li role="presentation" class="divider"></li>
								{% endif %}
								<li><a href="{{ url_for("logout") }}"><span class="fa icon-logout"></span>&nbsp;Logout</a></li>
							</ul>
						</li>
					{% else %}
						<li><a href="{{ url_for('join') }}">Join</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>

		{% block main_start %}
		<main class="page">
		{% endblock %}
			<!-- alert container for client side errors -->
			<div class="container alert-x">
				<div class="alert alert-info" id="alert_template" style="display: none;">
					<button type="button" class="close">×</button>
				</div>
			</div>
			<!-- alert container for server side errors -->
			<div class="container alert-x">
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{category}}">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
				{% endwith %}
			</div>

			{% block content %}{% endblock %}
			
			<footer>
				&copy; Copyright 2016. Build version 0.9
			</footer>
		</main>
		{% block footer %}
		
		{% endblock %}
		
		{% block wrapper_end %}

		{% endblock %}
    </body>
	{% block defer %}

		{% assets filters="jsmin", output="assets/packaged.js",
			  "lib/bower/jquery/dist/jquery.min.js",
			  "lib/bower/d3/d3.min.js",
			  "lib/bower/leaflet/dist/leaflet.js",
			  "lib/bower/spin.js/spin.min.js",
			  "lib/bower/spin.js/jquery.spin.js",
			  "lib/bower/bootstrap/dist/js/bootstrap.min.js",
			  "lib/bower/datatables.net/js/jquery.dataTables.min.js",
			  "lib/bower/dropzone/dist/dropzone.js",
			  "lib/bower/leaflet-image/leaflet-image.js",
			  "lib/bower/d3-queue/d3-queue.js",
			  "lib/bower/crossfilter/crossfilter.min.js", 
			  "lib/bower/colorbrewer/colorbrewer.js",
			  "lib/bower/leaflet.markercluster/dist/leaflet.markercluster.js",
			  "lib/bower/FileSaver/FileSaver.min.js",
			  "lib/bower/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js",
			  "lib/bower/leaflet-ajax/dist/leaflet.ajax.min.js",
			  "lib/custom/leaflet-legend/leaflet-legend.js",
			  "lib/bower/jquery_lazyload/jquery.lazyload.js",
			  "lib/bower/leaflet-geosearch/src/js/l.control.geosearch.js", 
			  "lib/bower/leaflet-geosearch/src/js/l.geosearch.provider.google.js",
			  "lib/bower/leaflet-geocoder-mapzen/src/leaflet-geocoder-mapzen.js",
			  "lib/bower/Leaflet.label/dist/leaflet.label.js",
			  "lib/bower/dropzone/dist/dropzone.js", 
			  "lib/bower/select2/dist/js/select2.full.min.js",
			  "lib/bower/jquery-form-validator/form-validator/jquery.form-validator.min.js",
			  "lib/custom/dc/dc.min.js",
			  "lib/custom/dc/dc.leaflet.js", 
			  "js/hammer.min.js",
			  "js/create-shelter.js", 
			  "js/countries.js",
			  "js/edit-shelter.js",
			  "js/layout.js",
			  "js/dashboard.js",
			  "js/shelter.js",
			  "js/index.js",
			  "js/contribute.js"
		%}
			<script type="text/javascript" src="{{ASSET_URL}}" defer></script>
		{% endassets %}
	{% endblock %}
</html>
