<!DOCTYPE html>
<html lang="nl">
{% extends "layout.html" %}
{% block assets_start %}
    {{ super() }}
	
	<!-- basic stylesheet -->
	<link rel="stylesheet" href='{{ url_for("static", filename="lib/custom/slider/slider.css") }}' media="screen">

	<!-- skin stylesheet (change it if you use another) -->
	<link rel="stylesheet" href='{{ url_for("static", filename="lib/custom/slider/rs-universal.css") }}' media="screen">

	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/bootstrap_custom.css") }}' media="screen, print">
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="icons/css/fontello-embedded.css") }}' media="print">
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/print.css") }}' media="print">
	
	<script type="text/javascript">
		// set shelter id and path for swipe include
		var shelter_id = {{shelter_id}};
		var language = '{{language}}';
		var path = '{{ url_for('static', filename = '') }}';
	</script>	

{% endblock %}

{% block wrapper_start %}
<div id="wrapper">
{% endblock %}
{% block content %}
		
		<!--<div id="sections">-->
			<!-- for main image -->
			
			<div id="photos">
				<div class="col-lg-12" id="section-0">
					<div class="content"></div>
				</div>
			</div>
			<div class="page-container-responsive">
				
				
				<div class="row">
					<div class="col-lg-9">
						<div class="row hide-md">
							<div class="tabs">
								<button class="text_tab" onclick="goToAnchor('#section-specifications');">
									<span class="wrapper_tabs">
										<span>SPECIFICATIONS</span>
									</span>
								</button>
								<button class="text_tab" onclick="goToAnchor('#section-location');">
									<span class="wrapper_tabs">
										<span>LOCATION</span>
									</span>
								</button>
								<button id="documentslink" class="text_tab hidden" onclick="goToAnchor('#section-documents');">
									<span class="wrapper_tabs">
										<span>DOCUMENTS</span>
									</span>
								</button>
								<button class="text_tab" onclick="goToAnchor('#section-comments');">
									<span class="wrapper_tabs">
										<span>COMMENTS</span>
									</span>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">	
								<div class="summary-component">
									<div class="space-4 space-top-4">
									  <div class="row">
										<div class="col-md-3 space-sm-4 text-center space-sm-2">
										<div class="media-photo-badge">
											<a href="#host-profile" rel="nofollow" class="media-photo media-round">
                                                <img alt="Profile picture owner" class="host-profile-image"
                                                 src="{% if user_image %}{{user_image}}{% else %}{{ url_for("static", filename="img/blankavatar.png") }}{%endif%}" title="User" width="115" height="115"></a>
										</div>
									  </div>

										<div class="col-md-9">
										  <h1 class="overflow h3 space-1 text-center-sm" id="listing_name"><span id="shelter-name"></span>
										 </h1>

										  <div id="display-address" class="space-2 text-muted text-center-sm">
											<span id="geography"></span>
										  </div>
										  
										  <div id="display-address" class="space-2 text-muted text-center-sm">
											<span id="organization"></span>
										  </div>
										  
										  <div class="row row-condensed text-muted text-center">
											<div class="col-sm-3">
												<i id="idicon" class="icon icon-hashtag icon-size-2 icon-hide"></i>
											</div>
											<div class="col-sm-3">
												<i id="yearicon" class="icon icon-calendar icon-size-2 icon-hide"></i>
											</div>
											<div class="col-sm-3">
												<i id="landformicon" class="icon icon-terrain icon-size-2 icon-hide"></i>
											</div>
											<div class="col-sm-3">
												<i id="climatezoneicon" class="icon icon-temperatire icon-size-2 icon-hide"></i>
											</div>
										  </div>
										</div>
									  </div>

									  <div class="row">
										<div class="col-md-3 text-muted text-center hide-sm">
										  <a href="#" class="link-reset text-wrap">{{user_name}}</a>
										</div>

										<div class="col-md-9">
										  <div class="row row-condensed text-muted text-center">
											<div class="col-sm-3">
											  <span id="id"></span>
											</div>

											<div class="col-sm-3">
											  <span id="year"></span>
											</div>

											<div class="col-sm-3">
											  <span id="landform"></span>
											</div>

											<div class="col-sm-3">
											  <span id="climatezone"></span>
											</div>
										  </div>
										</div>
									  </div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="panel book-it-panel" >
							<div class="panel-body panel-light">
							  <div class="row row-condensed space-3">
								<div class="col-md-12">
								  <div class="row row-condensed">
									 <a onClick="window.print()">
										PRINT THIS PAGE
										<i class="icon icon-print icon-size-2 print-image" aria-hidden="true"></i>
									 </a>
								  </div>
								  {% if g.user.is_authenticated %}
								  <div class="row row-condensed">
									<a title="Edit" href="{{ url_for('shelter_bp.edit', shelter_id=shelter_id, section_name='General-Information' | replace(' ', '-')) }}">
										EDIT THIS SHELTER
										<i class="icon icon-edit print-image icon-size-2" aria-hidden="true"></i>
									</a>
								  </div>
								  {% endif %}
                                  {% include 'media_share_button.html' %}
								</div>
							  </div>
							</div>
						  </div>
					</div>
				</div>
			</div>

		<section id="section-specifications">
		
		</section>
		
		<section id="section-location" class="info">
			<div class="content" id="location">
				<h3>Location</h3>
			</div>			
		</section>
		
		<section id="section-documents" class="info hidden">
			<div class="content" id="documents">
				<h3>Documents / Attachments</h3>
			</div>			
		</section>
		
		<section id="section-comments">
			<div>
				<h3>Comments & Discussion</h3>
			</div>
			<div id="disqus_thread" class="content section-data"></div>
			<script>
				var disqus_config = function () {
					this.page.url = "{{ url_for('index', _external=True) }}shelter/{{shelter_id}}";  // Replace PAGE_URL with your page's canonical URL variable
					this.page.identifier = {{shelter_id}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};

				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//shelter-database.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</section>
		

{% endblock %}

{% block footer %}
{{ super() }}

		<div class="mymodal mymodal-dark" id="infoDialog">
			<div class="mymodal-close" onclick="modalClose()"></div>
			<div align="center" id="listOfPictures"></div>
		</div>
		
		
				
{% endblock %}
{% block wrapper_end %}
</div>
{% endblock %}
{% block defer %}
	{{ super() }}
	
	<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>-->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3-queue/3.0.3/d3-queue.min.js"></script>
	
	<script>L_PREFER_CANVAS = true;</script>
	{% assets filters="jsmin", output="assets/packaged-shelter.js",
			  "lib/bower/leaflet/dist/leaflet.js",
			  "lib/bower/leaflet-image/leaflet-image.js",
			  "lib/custom/leaflet.fullscreen/Control.FullScreen.js",
			  "lib/custom/slider/slider.min.js",
			  "lib/custom/tooltip/tooltip.js",
			  "lib/custom/jquery-glossarize/jquery.glossarize.js",
			  "js/shelter.js"		  
		%}
			<script type="text/javascript" src="{{ASSET_URL}}" defer></script>
	{% endassets %}
		
{% endblock %}
