<!DOCTYPE html>
<html lang="nl">
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'lib/bower/d3/d3.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'lib/bower/leaflet/dist/leaflet.js') }}"></script>
	<link href="{{ url_for('static', filename = 'lib/bower/leaflet/dist/leaflet.css') }}" rel="stylesheet" media="screen" />
    {% endblock %}
{% block wrapper_start %}
<div id="wrapper">
{% endblock %}
{% block content %}
        <section class="shelterheader">
            <div class="content">
                <h1 id="shelter-name">[UNKNOWN NAME]</h1>
            </div>
        </section>
        <section id="coverpicture" class="shelterimg" onclick="modalOpen()" style="background-image: url('{{ url_for('static', filename = 'img/shelter.jpg') }}')">
            <div class="dots">
                <div class="dot selected"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </section>
		<section>
            <div class="details">
				<h3>Identification</h3>
			    <div id="location-map" style="width:100%; height:400px;"></div>
				<div class="content">
					<table id="identification">
						<tr>
							<td>No data available in this category</td>
						</tr>
					</table>
				</div>
			</div>
        </section>
		<section class="details details-1">
            <div class="content">
                <h3>General</h3>
                <table id="general">
					<tr>
						<td>No data available in this category</td>
					</tr>
				</table>
            </div>
        </section>
        <section class="details details-2">
            <div class="content">
                <h3>Disaster & Response</h3>
                <table id="disasterresponse">
					<tr>
						<td>No data available in this category</td>
					</tr>
				</table>
            </div>
        </section>

        <section class="details details-1">
            <div class="content">
                <h3>Site</h3>
                <table id="site">
					<tr>
						<td>No data available in this category</td>
					</tr>
				</table>
            </div>
        </section>
		
		 <section class="details details-2">
            <div class="content">
                <h3>Foundation</h3>
                <table id="foundation">
					<tr>
						<td>No data available in this category</td>
					</tr>
				</table>
            </div>
        </section>
		
{% endblock %}

{% block footer %}
		<div class="mymodal">
            <div class="mymodal-close" onclick="modalClose()"></div>
            <div class="swipe">
                <div id="modalIdentificationPanes" class="panes"></div>
                <div id="modalIdentificationDots" class="dots"></div>
            </div>
        </div>
		
	<script type="text/javascript">
        var wrapper = document.getElementById("wrapper")
        var modalOpen = function(){
            wrapper.className = "modal-open modal-open-dark"
        }
        var modalClose = function(){
            wrapper.className = ""
        }
    </script>

    <script src="{{ url_for('static', filename = 'js/hammer.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'js/swipe.js') }}"></script>
		
    {{ super() }}
	
	<script type="text/javascript" class="source">
		var shelter_id = {{shelter_id}};

		d3.json('/api/v0.2/shelters/' + shelter_id + '?format=prettytext', function (error, data) {
		  
			
			// render the table(s)
			
			if(typeof data[shelter_id]['Site'] !== 'undefined') {
				var site = data[shelter_id]['Site']['Attributes'];
				$("#site").empty();
				tabulate('#site', site, d3.keys(site));
			}
			
			if(typeof data[shelter_id]['General'] !== 'undefined') {
				var general = data[shelter_id]['General']['Attributes'];
				$("#general").empty();
				tabulate("#general", general, d3.keys(general));
			}
			
			if(typeof data[shelter_id]['Disaster & Response'] !== 'undefined') {
				var disasterresponse = data[shelter_id]['Disaster & Response']['Attributes'];
				$("#disasterresponse").empty();
				tabulate("#disasterresponse", disasterresponse, d3.keys(disasterresponse));
			}
			
			if(typeof data[shelter_id]['Foundation'] !== 'undefined') {
				var foundation = data[shelter_id]['Foundation']['Attributes'];
				$("#foundation").empty();
				tabulate("#foundation", foundation, d3.keys(foundation));
			}
			
			if(typeof data[shelter_id]['Identification'] !== 'undefined') {
				// Set shelter name
				$('#shelter-name').text(data[shelter_id]['Identification']['Attributes']['Name of shelter']);
				
				// add attributes
				var identification = data[shelter_id]['Identification']['Attributes'];
				$("#identification").empty();
				tabulate("#identification", identification, d3.keys(identification));
			
				// Get coordinates for this shelter
				var lat = data[shelter_id]['Identification']['Attributes']['GPS Latitude'];
				var lon = data[shelter_id]['Identification']['Attributes']['GPS Longitude'];
				
				// Initiate leaflet map
				var map = L.map('location-map').setView([lat, lon], 13);
				
				// Add OSM base layer
				L.tileLayer('http://a.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png').addTo(map);
				
				// disable dragging and scrolling for mobile view
				map.scrollWheelZoom.disable();
				map.dragging.disable();
				
				// add location of shelter to map
				L.marker([lat, lon]).addTo(map);
				
				// add pictures
				addCoverPicture('#coverpicture', data[shelter_id]['Identification']);
				addSwipePictures('#modalIdentification', data[shelter_id]['Identification']);
			}
		});
		
		function addCoverPicture(elementId, section){
			if(typeof section['Cover'] !== 'undefined' && section['Cover'].length > 0) {
				$(elementId).css("background-image", "url('/" + section['Cover'][0] + "')");		
			}
		}
		
		function addSwipePictures(elementId, section){
			if(typeof section['Pictures'] !== 'undefined') {
			
				//merge arrays
				var d = $.merge(section.Cover, section.Pictures);
				
				// add panes
				d3.select(elementId + "Panes")
				   .selectAll("div")
				   .data(d)
				   .enter()
				   .append("div")
					   .attr("class","pane")
					   .attr("style",function (d){ return "background-image:  url('/" + d + "')";});
				
				// add dots
				// TODO increment show id
				var dot = 0;
				
				d3.select(elementId + "Dots")
				   .selectAll("div")
				   .data(d)
				   .enter()
				   .append("div")
					   .attr("class","dot")
					   .attr("onclick",function (d){ 
						var r = "_swipe.show(" + dot + ",0,true)";
						dot++;
						return r;
					});
			}
		}

		function tabulate(table_id, d, columns) {

			// convert object keys to an attribute value pair
			var data = Object.keys(d).map(function(k) { return {attribute:k, value:d[k]} })
			
			var table = d3.select(table_id)
			var	tbody = table.append('tbody');

			// create a row for each object in the data
			var rows = tbody.selectAll('tr')
			  .data(data)
			  .enter()
			  .append('tr');

			// Add column with attribute names
			rows.append('th').append('b')
				.attr('class', 'attribute-multimedia-asset')
				.attr('style', 'border-bottom: 1px dotted #000000; cursor:pointer;')
			    .text(function (d) { 
					return d.attribute; 
				});
			 
			// Add column with values
			rows.append('td')
			  .text(function (d) { return d.value; });
		}
	</script>
    <script type="text/javascript">
	
	$(document).ready(function() {
			$(document).on('click', '.attribute-multimedia-asset' , show_multimedia_assets);
		
			function retrieve_and_display_multimedia_asset(attributeName) {
				var filters = [{"name":"name","op":"eq","val":attributeName}];
				$.ajax({
					type: 'GET',
					url: '/api/attribute',
					contentType: "application/json",
					dataType: "json",
					data: {"q": JSON.stringify({"filters": filters})},
					success: function(result) {
						$('#listOfPictures').empty();
						result.objects[0].pictures.map(function(picture) {
							oImg = document.createElement("img");
							oImg.setAttribute('src', '/public/pictures/attributes/en/' + picture.file_name );
							oImg.setAttribute('alt', picture.file_name);
							oImg.setAttribute('title', picture.file_name);
							oImg.setAttribute('height', '600px');
							oImg.setAttribute('width', '600px');
							$('#listOfPictures').append(oImg);
							$('#listOfPictures').append(document.createElement("hr"));
						})
						$('#listOfPictures hr:last-child').remove();
						$('#infoDialog').modal({backdrop:'static', keyboard:false});
					},
					error: function(XMLHttpRequest, textStatus, errorThrown){
						//document.getElementById("geolocation").innerHTML = XMLHttpRequest.responseText;
					}
					}); // ajax closed
			}

			function show_multimedia_assets(evt) {
				evt = evt || window.event; // The event that was fired
				var targ = evt.target || evt.srcElement; // the element that was clicked
				var el = this; // the element that fired the event

				$('#infoDialogTitle').text("Description");
				//var attrId = $(el).attr('attrId');
				var attrName = ($el).innerText;

				retrieve_and_display_multimedia_asset(attrName);

			}
	});
		
	
</script>
{% endblock %}
{% block wrapper_end %}
</div>
{% endblock %}