<!DOCTYPE html>
<html lang="nl">
{% extends "layout.html" %}
{% block assets_start %}
    {{ super() }}
	
	<script type="text/javascript">
		// set shelter id and path for swipe include
		var shelter_id = {{shelter_id}};
		var language = '{{language}}';
		var path = '{{ url_for('static', filename = '') }}';
	</script>	

{% endblock %}

{% block wrapper_start %}
<div id="wrapper">
{% endblock %}
{% block content %}
		

        <section class="shelterheader">
            <div class="content">
                <h1 id="shelter-name">[UNKNOWN NAME]</h1>
				<i class="fa icon-print print-image" aria-hidden="true" onClick="window.print()"></i>
				<a title="Edit" href="{{ url_for('shelter_bp.edit', shelter_id=shelter_id, section_name='General-Information' | replace(' ', '-')) }}">
					<i class="fa icon-edit print-image" aria-hidden="true"></i>
				</a>
            </div>
        </section>
		<section class="shelter-main-image">
                <img id="coverpictureprint" src="" />
            </section>
        <section id="coverpicture" class="shelterimg" onclick="modalOpen('main-image-swipe')">
        </section>
		
		<div id="sections">
			
			<section>
				<div class="details">
					<div id="location-image" class="location-image"></div>
					<div id="location-map" class="location-map"></div>
				</div>
			</section>
			<!-- TODO: more button that shows/hides other categories -->
		</div>
{% endblock %}

{% block footer %}
{{ super() }}

		<div class="mymodal mymodal-dark" id="main-image-swipe">
			<div class="mymodal-close" onclick="modalClose()"></div>
			<div class="swipe">
				<div id="modalIdentificationPanes" class="panes">
					<div class="pane" style="background-image: url('')"></div>
				</div>
				<div id="modalIdentificationDots" class="dots">
					<div class="dot" onclick="swipe.show(0, 0, true)"></div>
				</div>
			</div>
        </div>
		
		<div class="mymodal mymodal-dark" id="infoDialog">
			<div class="mymodal-close" onclick="modalClose()"></div>
			<div align="center" id="listOfPictures"></div>
		</div>
				
{% endblock %}
{% block wrapper_end %}
</div>
{% endblock %}
{% block defer %}
	{{ super() }}
	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3-queue/3.0.3/d3-queue.min.js"></script>
			
	{% assets filters="jsmin", output="assets/packaged-shelter.js",
			  "lib/bower/leaflet-image/leaflet-image.js",
			  "js/shelter.js",
			  "js/swipe.js"			  
		%}
			<script type="text/javascript" src="{{ASSET_URL}}" defer></script>
		{% endassets %}
{% endblock %}