{% extends "layout.html" %}

{% block assets_start %}
    {{ super() }}
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/bootstrap_custom.css") }}' media="screen, print">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Shelters</h1>
    <table id="allshelters" class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Name</th>
                <th>Zone</th>
                <th>Created at</th>
				<th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for shelter in shelters %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ shelter.get_values_of_attribute(attribute_name='ID')[0].name }}</td>
                <td><a href="{{ url_for('shelter', shelter_id=shelter.id) }}">{{ shelter.get_values_of_attribute(attribute_name='Name of shelter')[0].name }}</a></td>
                <td>{{ shelter.get_values_of_attribute(attribute_name='Zone')[0].name }}</td>
                <td>{{ shelter.created_at }}</td>
				<td><a href="{{ url_for('shelter_bp.edit', shelter_id=shelter.id, section_name='General-Information' | replace(' ', '-')) }}">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="delete-shelter-btn" href="{{ url_for('shelter_bp.delete', shelter_id=shelter.id, next='/user/shelters') }}">
                        <i class="glyphicon glyphicon-remove" title="Delete this shelter"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block defer %}

		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
		
		<script>
			$(document).ready(function() {
                $('.delete-shelter-btn').click(function(event){
                    if(!confirm('You are going to delete this shelter.')){
                        event.preventDefault();
                    }
                });

				$('#allshelters').DataTable({
						"bStateSave": true, // on sauvegarde l'état dans un cookie
						"aaSorting": [[2, "asc" ]], // on trie par défaut sur la colonne "Name"
						"bJQueryUI": false,
						"bInfo": false,
						"aoColumnDefs": [
											{
												"bSortable": false, "aTargets": [ 0 ]
											}
										],
					   "aoColumns": [
									null,
									{ "sSortDataType": "dom-checkbox" },
									{ "sSortDataType": "dom-checkbox" },
									{ "sSortDataType": "dom-checkbox" },
									{ "sSortDataType": "dom-checkbox" }
									]
					});
            });
			</script>
{% endblock %}
