{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>Stats</h1>
    <div class="row">
        <div class="col-md-5">
            <div id="piechart1"></div>
        </div>
        <div class="col-md-5">
            <div id="piechart2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="piechart3"></div>
        </div>
    </div>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
$(document).ready(function() {
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(create_pie_chart);

    generate_pie_chart("Landform",
        [{"name":"name","op":"eq","val":"Landform"}], "piechart1");

    generate_pie_chart("Associated disaster / Immediate cause",
        [{"name":"name","op":"eq","val":"Associated disaster / Immediate cause"}], "piechart2");

    generate_pie_chart("Foundation type",
        [{"name":"name","op":"eq","val":"Foundation type"}], "piechart3");

})

function create_pie_chart(title, data_list, div_id) {
    var data = google.visualization.arrayToDataTable(data_list);
    var options = {
        title: title
    };
    var chart = new google.visualization.PieChart(document.getElementById(div_id));
    chart.draw(data, options);
}

function generate_pie_chart(pie_name, filters, div_id) {
    $.ajax({
        type: 'GET',
        url: '/api/attribute',
        contentType: "application/json",
        dataType: "json",
        data: {"q": JSON.stringify({"filters": filters})},
        success: function (result) {

            if (result.num_results == 1) {
                var counter = {};
                result.objects[0].properties.map(function(property) {
                    $.ajax({
                        type: 'GET',
                        url: '/api/property/' + property.id,
                        contentType: "application/json",
                        success: function (property) {
                            counter[property.values[0].name] = (counter[property.values[0].name]||0)+1;

                            var data_list = [['Type', 'Count']];
                            $.each(counter, function( attribute, value ) {
                                data_list.push([attribute, value])
                            });
                            create_pie_chart(pie_name, data_list, div_id);

                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown){
                            console.log(errorThrown);
                        },

                    });
                })




            }

        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            console.log(errorThrown);
        }
    });

}
</script>
</div>
{% endblock %}
