{% extends "layout.html" %}
{% block content %}
        <section class="contribute">
                <div class="content">
                    <h1>Terms of service</h1>
                    <p></p>
					<p>[TODO]</p>
				</div>
            </section>
			<section class="contribute">
                <div class="content">
                    <h3>Questions?</h3>
					<p>Please send your questions to us on <a href="mailto:info@shelter-database.org" target="_blank">info@shelter-database.org</a></p>
                </div>
            </section>
            <section class="knowledge background" style="background-image: url('{{ url_for('static', filename='img/6.jpg') }}')">

            </section>
{% endblock %}
