{% extends "layout.html" %}
{% block content %}
        <section class="contribute">
                <div class="content">
                    <h1>Terms of service</h1>
                    <p></p>
			<p>
    <strong>TERMS AND CONDITIONS OF USE OSD. </strong>
</p>
<strong>Article 1. </strong>
<strong>Open Shelter Database.</strong>
<br/>
<p>
    International Federation of Red Cross and Red Crescent Societies- Shelter
    Research Unit (“IFRC-SRU”)<strong> </strong>(“we”, “us” and “our”) welcomes
    you to the Open Shelter Database (“OSD”) enabling you to upload and update
    your own data (text, image and sound material) and through which you may
    access without charge a selection of content and data regarding
    humanitarian shelters ("<strong>OSD Content</strong>"). Set out below are
    the terms and conditions for use of OSD and the OSD Content. These terms
    and conditions apply whenever you access, upload and update the OSD
    Content, on whatever device and by any means.
    <br/>
    By applying to register for OSD you accept these terms and conditions. You
    agree that terms and conditions may be updated by us from time to time at
    our discretion without prior notice to you and you have entered into an
    agreement with us on such terms.
    <br/>
    We reserve the right to change any aspect of OSD and these terms and
    conditions at any time without prior notice to you. You are therefore
    responsible for regularly reviewing these terms and conditions.
    <br/>
    No one may use OSD in a manner that is contrary to the Fundamental
    Principles of the Red Cross and Red Crescent Movement (
    <a
        href="http://www.ifrc.org/who-we-are/vision-and-mission/the-seven-fundamental-principles/"
    >
        http://www.ifrc.org/who-we-are/vision-and-mission/the-seven-fundamental-principles/
    </a>
    ).
</p>
<p>
    <strong>
        Article 2. Participator.
        <br/>
    </strong>
    2.1 OSD is an online open-content database which is developed by a
    voluntary association of individuals and groups - having a Humanitarian ID
    of OCHA - (“Participator (-s)”) working to realize a common resource of
    humanitarian shelters allowing to add the OSD Content, provided that any
    update is only possible as to OSD Content as uploaded by yourself. Once you
    upload and update the OSD Content, you are considered a Participator. By
    uploading/updating the OSD Content you consent to publish the same without
    any limitations and charge on OSD. OSD`s role is limited to a role of a
    facilitator.
</p>
<p>
2.2 Participator is<strong> </strong>responsible and liable for the<strong> </strong>accuracy and reliability<strong> </strong>of    <strong> </strong>the OSD Content provided. Participator guarantees that
    the OSD Content uploaded and/or updated by you:
    <br/>
    2.2.1 is not against the law any existing national or international law or
    regulation;
    <br/>
    2.2.2 does not create any infringement on intellectual property/copy rights
    or privacy of third parties;
    <br/>
    2.2.3 will not be otherwise unlawful.
</p>
<p>
    2.3 Participator shall not (allow) use of OSD for improper, illegal and/or
    criminal acts, which implies among others :
    <br/>
    2.3.1the distribution of material/data which is contrary to any national or
    international law, regulation and/or these terms and conditions;
    <br/>
    2.3.2 the illegal/criminal distribution of non-public information;
    <br/>
    2.3.3 the distribution of material/data which in our view is misleading, is
    in violation of any national or international law and/or public
    order/morality;
    <br/>
    2.3.4 the distribution of material/data which create infringement on
    intellectual property rights and/or on (privacy) rights;
    <br/>
    2.3.5<em> </em>the distribution of material/data which create infringement
    on someone else's personality rights
    <em>
        ;
        <br/>
    </em>
    2.3.6 unauthorized intrusion (‘hacking’);
    <br/>
    2.3.7 the distribution of material/data which refer to illegal services
    and/or to services which may create damages in whatever way to
    persons/property;
    <br/>
    2.3.8 damage/destruction of systems/software.
</p>
<p>
    2.4 We reserve the right to change/refuse/delete your material/data which
    is covered by article 2.2 respectively by article 2.3 without being liable
    to pay any compensation to you and without prejudice to all of our other
    rights<strong>. </strong>
    <br/>
    <br/>
    <strong>Article 3. Use OSD</strong>
    .
    <br/>
    3.1 You shall not (allow) use of OSD for any purpose other than for which
it is intended and shall refrain from sending unsolicited/unwanted    <strong> </strong>messages. If you require specific advice (for example,
    medical, legal, financial or risk management), the OSD Content - subject to
    article 4 - may be of use however it is your responsibility to seek a
    professional assistance from a licensed practitioner in that area. Any
    reliance upon OSD Content shall be at your own risk.
</p>
<p>
    3.2 We are fully entitled, at our discretion to, to change, adjust, limit,
    update in full or in part any content in OSD and/or to discontinue OSD at
    any time.<strong> </strong>We shall have no obligation whatsoever to give
    you prior notice of such decision of the OSD.
</p>
<p>
    3.3 We reserve the right to deny in our sole discretion any user access to
    OSD or any portion thereof without notice.
</p>
<p>
    3.4 You agree to indemnify us from and against any and all actions, claims,
    losses, damages, liabilities and expenses (including reasonable attorneys’
    fees) arising out of your breach of these terms and conditions.
</p>
<p>
    <strong>
        Article 4. Exclusions of our liability.
        <br/>
    </strong>
    4.1 Please be advised that the OSD Content has not necessarily been
    reviewed by people with the expertise required to provide you with
    complete, accurate or reliable information. The OSD Content is provided “as
    is” basis, without warranty of any kind, either express or implied,
    including, without limitation, warranties of merchantability, fitness for a
    particular purpose and non-infringement. Therefore we are not liable in
    whatever way for the completeness, fitness, legitimacy and correctness
    neither of OSD, the OSD Content nor for the acts and omissions by
    Participators. This also applies as to the OSD Content which contains any
    information generated by ourselves whether or not based on the OSD Content
    provided by Participators.
    <br/>
    If you are not satisfied with OSD and/or the OSD Content your sole and
    exclusive remedy is to discontinue the use of OSD.
</p>
<p>
    4.2 We do not guarantee:
    <br/>
    4.2.1 the completeness, fitness, legitimacy and correctness neither of the
    OSD, the OSD Content nor for the acts and omissions by Participators;
    <br/>
    4.2.2 that OSD is completely ‘error-free’ provided that we shall use our
    reasonable endeavours to achieve that OSD shall perform correctly; and
    <em>
        <br/>
    </em>
    4.2.3<em> </em>that OSD is legitimately used.
</p>
<p>
    4.3 TO THE MAXIMUM EXTENT PERMITTED BY THE APPLICABLE LAW, IN NO EVENT
    SHALL WE BE LIABLE FOR ANY DIRECT, LOST REVENUES OR PROFITS OR ANTICIPATED
    SAVINGS, GOODWILL, OR OTHER SPECIAL, INDIRECT, INCIDENTAL, EXEMPLARY,
    CONSEQUENTIAL OR PUNITIVE DAMAGES HOWEVER CAUSED AND REGARDLESS OF THEORY
    OF LIABILITY WHETHER ANY CLAIM FOR SUCH RECOVERY IS BASED UPON THEORIES OF
    CONTRACT, NEGLIGENCE OR TORT (INCLUDING STRICT LIABILITY), EVEN IF WE HAVE
    BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU HEREBY WAIVE, FOR
    YOURSELF AND YOUR SUCCESSORS AND ASSIGNEES, ANY AND ALL CLAIMS FOR DIRECT,
    LOST REVENUES OR PROFITS OR ANTICIPATED SAVINGS, GOODWILL, OR OTHER
    SPECIAL, INDIRECT, INCIDENTAL, EXEMPLARY, CONSEQUENTIAL AND/OR PUNITIVE
    DAMAGES.
</p>
<p>
    4.4 We shall not be held liable for any loss/damage of any data/content.
</p>
<p>
    4.5 In the event that a limitation<strong> </strong>shall be held to be
    invalid for any reason and we become liable for loss or damage that would
    otherwise have been excluded, such total liability shall never exceed the
    amount as covered and paid out by our relevant insurance company for such
    specific loss or damage, provided that you agree that
    indirect/consequential damages/costs of whatever nature shall always be
    excluded.
    <br/>
    <strong>
        <br/>
        <br/>
    </strong>
</p>
<p>
    <strong>
        Article 5. Privacy &amp; Intellectual property.
        <br/>
    </strong>
    5.1 We refer to the privacy notices and regulations of the OCHA which shall
    apply. Furthermore:
</p>
<p>
    5.2 We are committed, in the course of our activities and in compliance
    with the applicable law on data protection, to ensure the confidentiality,
    integrity and availability of your personal data, as well as to respect
    your privacy. We, through OSD, collect, use and process your personal data
    in order to provide you with a service, and for the purpose of publishing
    and sharing information plus documents related to humanitarian shelters.
</p>
<p>
    5.3 We will not sell, rent or transfer your personal data to third parties,
    such as but not limited to our IT service supplier, consultants and any
    other third party processing personal data on our behalf, without your
    consent and for any other reasons consistent with the purpose for which the
    data were originally collected or for any other purposes authorized by law.
</p>
<p>
    5.4 However, you expressly give your consent and agree to the disclosure of
    your personal data by us to third parties if we:
    <strong>
        <br/>
    </strong>
    5.4.1 need to send the information to third parties who work on behalf of
    or for us to provide a product or service you have requested - unless
    otherwise stated so, these third parties are prohibited to use the personal
    data we provided them beyond what is necessary to provide the product or
    service to you.
    <br/>
    5.4.2 need to comply with any requests from a competent authority or court
    orders.
    <br/>
    5.4.3 find that it is necessary, as determined in our sole discretion, to
    investigate, prevent or take action regarding illegal activities, suspected
    fraud, emergency situations involving potential threats to the physical
    safety of any persons, violations to these terms and conditions or as
    otherwise required by law.
</p>
<p>
    5.5 Before disclosing your personal data to third parties, we shall try to
    achieve that sufficient security measures and adequate data protection are
    guaranteed by the third party and take reasonable steps to achieve the
    compliance with those measures.
</p>
<p>
    5.6 As part of its internal data auditing process, we may conduct regular
    checks on processing by third parties, especially with respect to security
    measures.
</p>
<p>
    5.7 We do not retain personal data longer than necessary for the purposes
    stated and to comply with legal requirements, unless otherwise agreed to by
    you.
</p>
<p>
    5.8 You have the right to request information on personal data related to
    you which are processed by us. You may request that inaccurate or
    incomplete personal data related to you be corrected or deleted where the
    purpose of data processing has lapsed or ceased to be applicable for other
    reasons.
</p>
<p>
    5.9 All requests should be sent by regular mail along with a proof of
    identity (copy of official identification document with a photo mentioning
    your date &amp; place of birth), mentioning OSD, Humanitarian ID of OCHA
    and your contact details (phone number and email) to:
    <br/>
Tel: (+352)27558904; Mail    <a href="mailto:ifrc-sru@croix-rouge.lu">ifrc-sru@croix-rouge.lu</a>.
    <br/>
    <br/>
    5<strong>.</strong>10 We may refuse, restrict or defer your request
    respectively the provision of information where we have the right to do so
    under current data protection legislation.
</p>
<p>
    5.11 In order to provide you safe access and use of OSD to the best of our
    ability, we define and implement the reasonable technical and
    organizational measures necessary to maintain the security of personal
    data, according to the nature of the personal data processed and the
    circumstances of the processing, with the objective of avoiding (in the
    realm of the possible and having regard to the state of the art)
    non-authorised processing or access, alteration or loss (to ensure to our
    best endeavours confidentiality, integrity and availability respectively).
</p>
<p>
    5.12 Any of the intellectual property rights that are mentioned, used or
    cited in the OSD Content are and shall remain the property of their
    respective owners.
</p>
<p>
    <strong>
        Article 6. Law.
        <br/>
    </strong>
    Any dispute, controversy or claim arising out of or relating to the
    execution of these terms and conditions shall be settled amicably through
    direct negotiation. If these negotiations are unsuccessful, the matter
    shall be finally submitted to the jurisdiction of the laws and courts of
    Luxembourg.<strong><em> </em></strong>You<strong><em> </em></strong>hereby
    consent to the exclusive personal jurisdiction of such courts and
    unequivocally waive any and all defenses and/or rights to challenge the
    jurisdiction or venue of such courts.
</p>

				</div>
            </section>
			<section class="contribute">
                <div class="content">
                    <h3>Questions?</h3>
					<p>Please send your questions to us on <a href="mailto:info@shelter-database.org" target="_blank">info@shelter-database.org</a></p>
                </div>
            </section>
            <section class="knowledge background" style="background-image: url('{{ url_for('static', filename='img/6.jpg') }}')">

            </section>
{% endblock %}
