{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>Dashboard</h1>
    <div class="well">
        <h2>Import shelters</h2>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="shelterfile" accept="text/*" />
            </div>
            <div class="form-group">
                <input type="submit" name="shelters" value="Submit" />
            </div>
        </form>
    </div>


    <div class="well">
        <h2>Import translations</h2>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="translationfile" accept="text/*" />
            </div>
            <div class="form-group">
                <input type="text" name="language_code" accept="image/*" placeholder="Language code" />
            </div>
            <div class="form-group">
                <input type="submit" name="translations" value="Submit" />
            </div>
        </form>
    </div>


    <h2>Import pictures</h2>
</div>
{% endblock %}
