{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='lib/tinymce/tinymce.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Edit pages</h1>
    <div class="form-group">
        Select a page
        <select id="pagesList" class="form-control selectpicker show-tick">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        Select a language
        <select id="languagesList" class="form-control selectpicker show-tick">
            <option value=""></option>
        </select>
    </div>
    <textarea id="pages_editor" class="pages_editor" rows="15" page-id=""></textarea>
</div>
<script type="text/javascript" class="source">
$(document).ready(function() {
    tinymce.init({
        mode : "specific_textareas",
        statusbar : false,
        editor_selector : "pages_editor",
        entity_encoding : "numeric",
        browser_spellcheck : false,
        menubar : false,
        plugins: "table, link, save, code",
        tools: "inserttable",
        toolbar: "save | undo redo | styleselect | fontsizeselect | removeformat | cut copy paste | link | bullist numlist | table | code",
        min_height: 290,
        save_onsavecallback: function() {save_page();}
    });

    $('.form-group').change(function(evt) {
        page_name = $("#pagesList").val();
        language_code = $("#languagesList").val();
        if (page_name != "" && language_code != "") {
            set_editor_content(page_name, language_code);
        }
    });

    $.ajax({
        type: 'GET',
        url: 'http://' + document.domain + ':' + location.port + '/api/page',
        contentType: "application/json",
        success: function (result) {
            languages = [];
            result.objects.map(function(page) {
                if (page.language_code == "en") {
                    $('#pagesList')
                        .append($("<option></option>")
                        .attr("value", page.name)
                        .text(page.name));
                }
                languages.push(page.language_code)
            });
            $.unique( languages ).map(function(language_code) {
                $('#languagesList')
                    .append($("<option></option>")
                    .attr("value", language_code)
                    .text(language_code));
            })
            $('.selectpicker').selectpicker({});

        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            console.log(errorThrown);
        }
    });

});

function set_editor_content(page_name, language_code) {
    var filters = [{"name":"name","op":"eq","val":page_name},
                    {"name":"language_code","op":"eq","val":language_code}];
    $.ajax({
        type: 'GET',
        url: 'http://' + document.domain + ':' + location.port + '/api/page',
        contentType: "application/json",
        dataType: "json",
        data: {"q": JSON.stringify({"filters": filters})},
        success: function (result) {
            if (result.num_results != 0) {
                tinymce.get('pages_editor').setContent(result.objects[0].content);
                $('#pages_editor').attr('page-id', result.objects[0].id)
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            console.log(errorThrown);
        }
    });
}

function save_page() {
    page_name = $("#pagesList").val()
    language_code = $("#languagesList").val()
    page_id = $('#pages_editor').attr('page-id');
    if (page_id != "" && language_code != "") {
        content = tinymce.get('pages_editor').getContent({format : 'raw'});
        data = {
            content : content
        }
        $.ajax({
            type: 'PUT',
            url: 'http://' + document.domain + ':' + location.port + '/api/page/' + page_id,
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                console.log(result);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                console.log(errorThrown);
            }
        });
    }
}
</script>
{% endblock %}
